[2015-08-02 04:35] freetest opened #14 "how to up webgoat to netbeans on mac os x."
hello~
i want to use netbeans IDE built webgoat on mac os x .  how can i do it?

➜  ~  brew install maven
==> Downloading http://www.apache.org/dyn/closer.cgi?path=maven/maven-3/3.2.3/bi
==> Best Mirror http://mirror.bit.edu.cn/apache/maven/maven-3/3.2.3/binaries/apa

curl: (22) The requested URL returned error: 404 Not Found
Error: Failed to download resource "maven"
Download failed: http://mirro

[2015-08-15 21:27] nbaars commented on #14
Can you try `brew update` first before you do a `brew install maven`?

--Nanne

[2015-08-15 21:27] #14 closed

[2015-08-15 22:56] mayhew64 opened #20 "Remove OWASP/WebGoat Repository when 7.0 releases"
Remove https://github.com/OWASP/WebGoat contents and replace it with a link to WebGoat/WebGoat/README or homepage

[2015-08-19 16:22] misfir3 opened #22 "Reload/Update Menu"
There is no clean indication of lesson completion, but content reloads. That even can be used to reload/update the menu for completed lessons.  The menu load can be hooked there. It will need to support keeping the current category/lesson/stage open.  Despite the menuView needing a good refactoring (longer term). There is some initial work started on this.

[2015-08-19 17:53] misfir3 opened #23 "LessonInfo Service"
Expose a service/endpoint to provide basic Lesson information. Longer-term this will enable lazy loading of helps. Shorter-term, we need this to aid in getting the lesson title via the client-side routing (and generally).

[code]

[2015-08-19 22:18] misfir3 opened #24 "Consume LessonInfo Service to display title"
When routed to a lesson e.g. ```#/attack/2/3``` The title is not easily pulled from scope.  The LessonInfo Service  (Issue #23 ) will provide that.  A call should be added to consume/use that.

[2015-08-19 22:24] misfir3 opened #25 "User Info/Logout Links"
See the Webgoat 6.0.1 release for how it should behave, how it was set up. The 'user' icon should show the 'current user' (usually just 'guest' still) and the log out link. Image included below.

![image](https://cloud.githubusercontent.com/assets/5103241/9370590/77860724-469f-11e5-947c-0ad42291e781.png)

[2015-08-19 22:27] misfir3 opened #26 "Re-enable/update WebGoat Info link"
This should be updated and re-enabled with the changes in Backbone. Should be pretty straightforward to re-enable. See image below

![image](https://cloud.githubusercontent.com/assets/5103241/9370644/c8ad4b3a-469f-11e5-8b6d-b8619a96f1f7.png)

[2015-08-20 09:19] misfir3 opened #28 "Hide menu functionality"
Another item to re-enable from WebGoat 6.0.1. The button to the right of the logo should toggle the menu/navigation. See below.

![image](https://cloud.githubusercontent.com/assets/5103241/9379963/f60a1990-46fa-11e5-9001-b60ffbc99806.png)

[2015-08-20 20:02] nbaars opened #29 "Properties are appended when loading plugins"
Need to investigate a bit more but it seems like the properties in the folder `webgoat-container\src\main\webapp\plugin_extracted\i18n` are added over and over whenever plugins are loaded

[2015-08-21 12:49] mayhew64 opened #32 "WebGoat lessons do not load"
Following the README instructions from a clean system.  The following error occurs and the lessons do not load.  WebGoat will start and the login screen appears, after login there is no content.

INFO: WebGoat is starting
Aug 21, 2015 8:45:28 AM org.apache.catalina.session.StandardManager doLoad
SEVERE: IOException while loading persisted sessions: java.io.WriteAbortedException: writing aborted; j

[2015-08-21 14:26] nbaars commented on #32
This exception is, I think, also present in the legacy project. This exception has always been present during the startup. I don't think the loading fails due to this exception. Debugged this part but all the plugins are correctly loaded.

I debugged with Firefox and the json request:

[code]

returns all the lessons however does not display them.
If I specify in the class Course to only load 10 l

[2015-08-21 15:01] misfir3 commented on #32
I noted an issue last night that I errantly introduced recently where only one lesson would initially load, then subsequent lessons would not (had changed to listenToOnce where it should have remained listenTo in the LessonController).  Let me know if this is still happening after pulling my merge from yesterday.

[2015-08-21 16:06] dougmorato commented on #32
And I thought it was just my machine... I tried late night yesterday to go check the lessons but I get a black page after login.

I tried using the _mvn tomcat7-run-war_ and using the _executable-jar_ options, but no luck.

__Question:__ Previous instructions said to copy the lessons/target/*.jar to WebGoat/webgoat-container/target/webgoat-container-6.1.0/plugin_lessons/ .
The web-container/target

[2015-08-21 16:07] dougmorato commented on #32
@misfir3 I forgot to mention that I tried this yesterday at 11PM, after you PR was merged

[2015-08-21 16:50] misfir3 commented on #32
@dougmorato Do you have firebug in your env?
1) Do you get the menu, but no lessons (as Bruce noted)
2) If yes to 1, do do you see 1 or ~ 6 calls in the FireBug console after clicking on a lesson?
3) Do you see any errors in the console?

As to ...

I believe that is correct. I have to copy the files over and restart tomcat to get them in the menu or be able to view them.

[2015-08-21 16:54] misfir3 opened #33 "Lesson Interdependency"
This is more of a placeholder for something I think I noted last night and I need to play with some more.  Some lessons, even though they are in separate *.jar's, have (I believe) legacy inter-dependencies.  Don't know if we can/want to introspect a lesson *.jar when unpacking and determine that, but we may want to as I was getting the 'invalid session' last night which came back to a NoClassDefFo

[2015-08-21 17:08] dougmorato commented on #32
So, I have no menu and no lessons, as can be seen in attached screenshot:
<img width="801" alt="nomennunolessons" src="https://cloud.githubusercontent.com/assets/9654/9414334/977db6d2-4805-11e5-8434-4b0d01bf65bc.png">

Going to [http://localhost:8080/WebGoat/service/lessonmenu.mvc](http://localhost:8080/WebGoat/service/lessonmenu.mvc) , I do see the list of lessons in JSON format.

<img width="597

[2015-08-21 17:08] nbaars commented on #32
Yes that's correct. There is no reload policy in place yet but I think we can add an endpoint which reloads the lessons.

The packages was solved by the webgoat-release project. This project is now disabled the idea was to build the container build the lessons copy the lessons and create the war. This can easily be scripted in Travis CI so I think we can remove this project.

[2015-08-21 17:13] nbaars commented on #32
@misfir3 I updated everything and the lessons do not load. I see the same json as @dougmorato. In Firebug there is one XHR call.

[2015-08-21 17:17] misfir3 commented on #32
OK, I'll make sure I'm all updated and take another look later today when I can get some quality time with my laptop. One XHR (which is to the attak.jsp?menu=x&screen=y I assume) means something happened to the onContentLoaded callback.  Maybe I over-cleaned something, although I was checking those incrementally. <sigh/>

[2015-08-22 09:53] misfir3 opened #37 "DOM Injection Lesson - Java Source does not work"
Clicking on the JavaSource Button Generates a
[code]

[2015-08-22 09:55] misfir3 opened #38 "Lab - DOM-based cross-site scripting: Java Source produces XSS alert"
No other hints on this so far, just noticed it happening when trying to reproduce the DOM Injection issue.

[2015-08-22 09:58] misfir3 opened #39 "Lesson Loading Scrolls down page in Firefox"
Tested FF and Chrome, but only noticed this in FF.

Anyone else noticing this?

[2015-08-22 10:02] misfir3 commented on #32
PR is in. Once someone can confirm, I will close this.

[2015-08-22 10:09] misfir3 opened #41 "Implement Loading Spinner on Menu"
It can take a moment to run/load (at least locally).  On initial menu load, implement spinner while menu loads.

[2015-08-22 10:12] misfir3 opened #42 "Create support in client-side routing for 'stages'"
Stages will never get past stage 1 currently. Client-side routing does not support that parameter. Support/route needs to be added.

[2015-08-22 11:09] nbaars commented on #39
Tested on FF indeed it scrolls down, it seems like this is the same scrolling as it would when you click on Solution / Lesson plan.

[2015-08-22 11:12] nbaars commented on #41
Indeed spinner would be a nice addition.

Noticed the same, loading of the plugins takes some time probably. I will investigate what's taking up most of the time and maybe implement some kind of caching if possible.

[2015-08-23 01:15] #32 closed

[2015-08-23 04:42] misfir3 opened #44 "Clicking on 'LAB: Role Based Access Control' produces 'Invalid Session' in UI"
The stack trace is ...
2015-08-23 00:33:28,276 DEBUG - HH Entering Session_id: 10593521B908AFB0D490A02640CA96DB
2015-08-23 00:33:28,276 ERROR - Error handling request
java.lang.NumberFormatException: For input string: "null"
	at java.lang.NumberFormatException.forInputString(NumberFormatException.java:65)
	at java.lang.Integer.parseInt(Integer.java:580)
	at java.lang.Integer.parseInt(Integer.java:

[2015-08-23 04:45] misfir3 opened #45 "Improve uniqueness of menu item Id's"
Would be better to operate ID-less and that may happen in a refactor of the MenuView later, but for now, need to improve uniqueness of menu item id's (e.g. we have two 'Stage 1: Stored XSS' lessons and the ID is made deterministically from the name (only) currently.

[2015-08-23 12:24] mayhew64 commented on #45
We need to consider the ID-Less state and how that may or may not affect scanning tools.

[2015-08-23 12:42] mayhew64 opened #46 "Lesson Plan does not toggle on/off"
Once the lesson plan, solution, and java source buttons are pressed, it can't be turned off.  The content always shows.

Also, there are some "[]" characters in the "Java [Source]" and "Lesson Plan]" buttons

[2015-08-24 20:52] jpschaaf opened #47 "Null Pointer Exception on every page"
Rebuilt from GIT on CentOS 7; most recent commit at time of clone was b2316c6ca2a91e4ebf93b2275906018ae7b29fc7

`Error Message: null
java.lang.NullPointerException
at org.owasp.webgoat.util.LabelManagerImpl.get(LabelManagerImpl.java:66)
at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
at sun.reflect.Dele

[2015-08-24 22:51] nbaars commented on #47
Hi,

Fixed the issue, worked when using Java 8 reproduced the bug immediately when running on a Linux image which has Java 7 installed
Can you try again?

Thanks,
--Nanne

[2015-08-24 22:51] #47 closed

[2015-08-24 23:26] jpschaaf commented on #47
Confirmed fixed.  Thanks.

[2015-08-24 23:41] nbaars commented on #33
Yes this was an issue for the Goathills challenges in which the classes were in the same package and with the same name. I added an extra package might be necessary between other lessons as well.

Will write a test to see if this is the case somewhere else.

[2015-08-24 23:49] nbaars opened #49 "Firefox and Edge miss one lesson in Menu"
Just noticed when I was fixing an issue so I made a side by side comparison. All point to localhost and I used FireFox(left) Edge (middle) and Chrome(right) and Chrome has one more lesson displayed in the menu.

Edge and Firefox each miss a different lesson.

![lesson-menu](https://cloud.githubusercontent.com/assets/493861/9455435/7fbcf850-4acb-11e5-8143-74427d9f3a5e.jpg)

[2015-08-26 01:01] misfir3 commented on #42
Should be working. re-open if issues found with stages.

[2015-08-26 01:01] #42 closed

[2015-08-26 01:06] misfir3 commented on #22
Should be working (again)

[2015-08-26 01:06] #22 closed

[2015-08-26 01:19] misfir3 commented on #46
Should be closed after merging pull request 51

[2015-08-26 01:19] misfir3 commented on #39
Should be closed after merging pull request 51

[2015-08-26 04:41] nbaars commented on #39
Checked in Firfox and is fixed

[2015-08-26 04:41] #39 closed

[2015-08-26 04:42] nbaars commented on #46
Tested in Firefox and is fixed

[2015-08-26 04:42] #46 closed

[2015-08-26 04:47] nbaars opened #53 "Http Basics lessons fails to load"
Due to:

[code]
Did a check for the key and it is indeed missing from the WebGoat.properties. This key was available in my local workspace but after a `rm plugins_extracted` it also started failing.

[2015-08-27 06:57] nbaars commented on #53
Fixed, used a Spring class to load the resources which cleaned up the code a lot.
Can be closed after pull request has been merged into master

[2015-08-27 13:06] mayhew64 commented on #53
I'm still seeing the NPE with a clean build.

* Error generating org.owasp.webgoat.plugin.HttpBasics
Error Message: null
java.lang.NullPointerException
at org.owasp.webgoat.plugin.HttpBasics.createContent(HttpBasics.java:80)
at org.owasp.webgoat.lessons.AbstractLesson.handleRequest(AbstractLesson.java:737)
at org.owasp.webgoat.HammerHead.makeScreen(HammerHead.java:304)
at org.owasp.webgoat.HammerH

[2015-08-28 04:26] nbaars commented on #53
I cannot reproduce this removed the plugin_extracted directory and did a `mvn clean install` and `mvn -pl .... Tomcat7:run` The https basics lesson works.

Tested on a Linux image, cloned the container and the lessons from git, build the lessons and build the container, started up Tomcat and the http basics lesson works.

Can you send the stack trace from the console?

[2015-08-28 10:45] nbaars commented on #44
To reproduce you need to click stage 4 and then Lab Role based access control again

[2015-08-28 11:21] mayhew64 commented on #53
Tested and no NPE.

[2015-08-28 11:21] #53 closed

[2015-08-28 14:29] nbaars commented on #44
Fixed the issue was that the stage parameter is posted as "null" like: `String s = "null"`
This can never be formatted into an integer which made the page crash. Added an extra check when we are dealing with a `RandomLessonAdapter` to reset the stage.

The main entry point of the lab now displays the text of the first stage in the lab, this makes more sense because previously if you clicked the ma

[2015-08-28 14:29] #44 closed

[2015-09-02 20:27] nbaars commented on #37
- Extracted the JavaScript.
- Fixed the lesson, the submit no longer generates a POST so needed to change the success case.

[2015-09-02 20:27] #37 closed

[2015-09-02 20:27] nbaars commented on #37
Waiting on pull request

[2015-09-02 21:23] nbaars commented on #38
Fixed, escaped the source before returning it.

[2015-09-02 21:44] #38 closed

[2015-09-03 17:36] misfir3 commented on #38
First time in my life I'm glad to confirm that my app is open to XSS. Such a weird feeling.

[2015-09-04 06:32] nbaars opened #60 "CSRF token by-pass lesson shows stacktrace"
Navigate to this lesson and the following stacktrace will appear. Also note that when this error occurs you automatically solved the lesson.

[code]

[2015-09-05 08:18] nbaars commented on #60
Fixed waiting on pull request.
Issue was due to the lesson CSRF prompt by pass could not be loaded the 'New Lesson instructions.txt' was loaded, however this failed. Changed the implementation of loading this file.

[2015-09-05 08:18] #60 closed

[2015-09-05 08:19] nbaars commented on #33
Fixed for the CSRF lesson some lessons share code but this should work with the classloading.
In this case both lessons extended the wrong superclass

[2015-09-05 14:05] nbaars commented on #25
Added bootstrap/jquery dependencies to `main_new.jsp` and added element in div for toggle data. Works again.

[2015-09-05 14:05] #25 closed

[2015-09-05 22:12] nbaars commented on #26
Fixed, enabled again (available in pull request)

[2015-09-05 22:12] #26 closed

[2015-09-09 17:24] misfir3 commented on #49
Started to look at this.  Short version of the problem is that the browsers are receiving different responses from the call to /lessonmenu.mvc

Firefox starts out as:
0 Object { name="Introduction",  type="CATEGORY",  children=[2],  more...}
1 Object { name="General",  type="CATEGORY",  children=[1],  more...}
2 Object { name="Access Control Flaws",  type="CATEGORY",  children=[3],  more...}
3 Obj

[2015-09-13 02:59] misfir3 commented on #49
Re-ran from fresh build in Chromium, Chrome and FF ... all categories accounted for:

![image](https://cloud.githubusercontent.com/assets/5103241/9834992/9aef75d2-59a1-11e5-8947-849c64de308c.png)

@nbaars  can you look again with Edge vs FF and/or Chrome (Don't have a windows VM or time to set one up currently)? Maybe someone with a Mac, check Safari?

[2015-09-15 14:41] davewichers opened #62 "https://github.com/WebGoat/WebGoat/blob/master/README.MD don't work on Windows 7"
These instructions download, build, and deploy instructions worked like a champ. I love it when things like this 'just work'.

However, when I actually start running WebGoat, using: Option #1: Using the Maven-Tomcat Plugin

The maven tomcat7:run-war goal runs the project in an embedded tomcat:

cd WebGoat
mvn -pl webgoat-container tomcat7:run-war

I get the following error. I don't understand how

[2015-09-15 14:42] davewichers opened #63 "Spelling errors in: webgoat_developer_bootstrap.sh"
in: webgoat_developer_bootstrap.sh

You might want to fix the 3 spelling / grammar errors in this:

 Starting WebGoat using the embbebed Tomcat ___________________
###################################################################################
### Open a web broser an navigate to http://localhost:8080/WebGoat/

Embedded, browser, and 'and navigate to...'

[2015-09-15 14:44] davewichers opened #64 "Labs with Stages all throw exceptions"
When loading any of the labs with Stages 1 through N I get stack traces like this:

Error Message: javax.servlet.ServletException: File "/plugin_extracted/plugin/CrossSiteScripting/jsp/CrossSiteScripting.jsp" not found
org.apache.jasper.JasperException: javax.servlet.ServletException: File "/plugin_extracted/plugin/CrossSiteScripting/jsp/CrossSiteScripting.jsp" not found
at org.apache.jasper.servl

[2015-09-15 14:46] davewichers opened #65 "Reflected XSS Attacks error message error"
The error message is supposed to say something like:

'Whoops you entered an invalid 3 digit code CODE.'  Or something like that.

Instead it displays: * ReflectedXSSWhoops1111testReflectedXSSWhoops2

where 111test is what I entered in the last field of the lesson.

[2015-09-15 14:47] davewichers opened #66 "Eclipse import error for webgoat-container"
When I import the webgoat-container project into Eclipse, I get this error:
No marketplace entries found to handle Execution create-jar, in /webgoat-container/pom.xml in Eclipse.  Please see Help for more information.

[2015-09-15 14:48] davewichers opened #67 "https://www.owasp.org/index.php/How_to_write_a_new_WebGoat_lesson obsolete"
I recommend you search around the OWASP Wiki and look for articles like this and either delete them, update them, or point them to where the latest information of this type exists.

[2015-09-15 14:50] davewichers opened #68 "Need instructions on how to add a new WebGoat Lesson Category"
Its not hard, but figuring this out yourself with no instructions is a pain.

Showing them how to update the Category class and then update the configuration file(s) to add the new lesson(s) so they show up in the left hand menu would be very helpful.

[2015-09-15 14:52] davewichers opened #69 "AbstractLesson needs good error handling to help newbees writing new lessons"
AbstractLesson needs some error handling...

This method in this class is making a bunch of assumptions, like the properties file exists, and certain properties are in it.

Can you add some error handling so if the property doesn't exist, it doesn't simply throw a null pointer without explaining the problem? Like can't find property X in file Y (or something)?  (See where I marked it throwing a nu

[2015-09-15 15:02] davewichers opened #70 "Discover Clues in HTML lesson doesn't work"
It displays this: WeakAuthenticationCookiePleaseSignIn - which isn't right. Probably should just say: Please Sign In.

And when you try to sign in, it doesn't anything like invalid login, or whatever when the credentials don't work.

[2015-09-15 15:13] davewichers opened #71 "Intermittent Startup Error"
Sometimes WebGoat launches fine (this is on a Mac). But sometimes it only shows the Admin menus and in the webgoat log it has a stack trace with this info in it.

I've seen a similar error on Windows but the failure is far more consistent there (I reported this issue earlier). Maybe there is a threading problem or something? This in intermittent on Mac, where most often WebGoat starts fine, but so

[2015-09-15 15:15] davewichers opened #72 "After login, there is no default lesson"
You kind of get a blank screen with just the menus on the side. Seems like you should default to go to the Http Basics lesson, which is what previous WebGoat used to do.

[2015-09-15 16:03] misfir3 commented on #72
Thanks for creating this officially. This has been on my mental //TODO list, but did not get it noted down here yet.

[2015-09-15 17:02] mayhew64 commented on #63
Fixed and pushed to master

[2015-09-15 17:02] #63 closed

[2015-09-15 19:47] nbaars opened #73 "Order of buttons switch after submit"
It seems like the order of the buttons (Lesson source, Hints, etc) change after a submit. See screenshots the lesson opens correctly after a submit the order is different. After entering a url and clicking submit the order changes.

Environment: Windows 10, Firefox browser

![order1](https://cloud.githubusercontent.com/assets/493861/9888160/c5309264-5bf3-11e5-8028-290fc2b5cb17.png)
![order2](https

[2015-09-15 21:01] nbaars commented on #71
Fixed waiting for pull-request

[2015-09-15 21:37] nbaars commented on #70
Fixed, waiting for pull-request.

[2015-09-15 21:39] nbaars commented on #62
same issue as https://github.com/WebGoat/WebGoat/issues/71

[2015-09-15 22:23] dougmorato commented on #71
@nbaars Upon running integration tests, new stack trace thrown:
[code]

[2015-09-16 01:44] mayhew64 commented on #71
Not seeing the error in my environment after merging.

[2015-09-16 01:51] mayhew64 commented on #65
Looks like the check for the successful attack could be a bit better as well.  We need to tighten that up.  The following attack string cleared the lesson: 111<script?alert("xss")</script>  The success criteria is checking for "script".  Is there a way to check on the client if an actual script was fired?

[2015-09-16 01:54] mayhew64 commented on #67
Need to link the OWASP page to the Create a lesson Wiki.

[2015-09-16 01:55] mayhew64 commented on #66
We need a wiki page to show how to create a lesson.  The existing in WebGoat lesson in for 6.x legacy.  This should be outside of the running application anyhow.

[2015-09-16 01:56] mayhew64 commented on #68
Add to the how to create a lesson wiki

[2015-09-16 02:21] mayhew64 commented on #72
Let's default it to "How to Work with WebGoat"

[2015-09-16 02:25] #62 closed

[2015-09-16 04:59] nbaars commented on #71
I also see this error sometimes but this does not fail the unit test. I have the same error but the unit tests are successful. These are actually two separate issues:

- Plugin extracting seems to 'forget' files.
- Endpoint /lessons.mvc does not always return the lessons

The first one is the error @dougmorato is referring to in the stacktrace above. I've also seen it with

[code]

Checking the ex

[2015-09-16 11:36] mayhew64 commented on #49
Comfirmed that chrome was missing code quality category and firefox and safari were not.

[2015-09-16 12:51] dougmorato commented on #49
I would like to add that we can perform cross-os and cross-browser testing already using the SauceLabs/Selenium integration tests.... we just need to write more tests for it.

Please check this link for the current OS/Browser capabilities: https://docs.saucelabs.com/reference/platforms-configurator/#/

__These tests even include a screenshot of the results automatically.__

Currently, we are only

[2015-09-16 16:50] misfir3 commented on #49
@dougmorato, Would like to try sauceLabs later, but

All ... if  you can reproduce this, also let me know how you are running it (via maven tomcat, regular tomcat or otherwise). Beginning to think that may factor in. Running from same server source, I could not reproduce. Have had some trouble lately with:
[code]
(will create separate issue on that)
and reverted to standard tomcat for now (results

[2015-09-16 18:33] davewichers opened #75 "Can't tell when WebGoat has actually started when using: webgoat_developer_bootstrap.sh"
Towards the end of the launch it eventually displays the following message. But its still 'starting'. Can you add a line that indicates: WebGoat 'started' when its actually up and running?

-----------------------------------------------------------------------------------
____________________ Starting WebGoat using the embedded Tomcat ___________________
##########################################

[2015-09-16 21:47] davewichers opened #76 "Lessons Intermittently showing up in WebGoat"
I've written 2 new custom lessons (really just test cases, not lessons), and put them in a brand new category.

And sometimes when I start WebGoat, 1 shows up, and other times both show up. And then I added a 3rd lesson, and I have the config file set up like this:

category.MYNEW.ranking=7
lesson.MYNEW_Lesson1.ranking=10
lesson.MYNEW_Lesson2.ranking=15
lesson.MYNEW_File_Lesson.ranking=20

and thi

[2015-09-16 21:51] davewichers commented on #76
After looking at the lessons in WebGoat, I'm getting the feeling that the webgoat-class.properties file I referred to earlier has nothing to do with the ordering of the menu entries in WebGoat anymore. So maybe I'm just not configuring it right, and if so, can you tell me what I'm doing wrong?

[2015-09-16 22:48] mayhew64 commented on #76
Could be related to 49.  Doesn't seem like it though

[2015-09-17 06:21] nbaars commented on #71
Fixed(waiting for pull request). Moved code from plugin to plugin extractor so you can more easily see what is happening. Also found out that we loaded the properties every time but this is only needed at the end when the loading is done. Simplified some of the copy methods, all the tests are green now.

Tested on Windows and Linux

[2015-09-17 12:36] misfir3 commented on #72
@mayhew64 - I set up (not committed or PR'd yet) a ['well call it a]'page' that would show up at start.mvc#welcome (which you would now be redirected to on login). Since 'How to Work with Webgoat' is automatically 'completed' on viewing the page and the page would come up by default, I propose that we just move that content over to the template/page and remove 'How to Work with WebGoat' as a plugi

[2015-09-17 12:47] mayhew64 commented on #72
I would prefer to have it default to the first lesson, i.e. lesson with the lowest rank.  This way, the user can reconfigure what lesson is defaulted from the webgoat.properties.  Even if there are no plugins installed, I put the admin screens in the webgoat-container, so the report card screen would be the default in that case.

[2015-09-17 20:48] nbaars commented on #64
There was another issue related not being able to load files (#71). I cannot reproduce this issue in Windows and Linux.

@davewichers can you verify this again after https://github.com/WebGoat/WebGoat/pull/79 has been merged into master?

Thanks,
--Nanne

[2015-09-18 02:46] misfir3 commented on #49
So, this happens when running under the tomcat:run-war scenario ... confirmed that tonight. Does not happen running under regular tomcat. Have not tried executable jar.  The JSON is actually different, so this is happening in the service.

[2015-09-18 02:54] dougmorato commented on #72
@misfir3 pushed code to redirect to first lesson upon login

[2015-09-18 02:54] #72 closed

[2015-09-18 06:10] nbaars commented on #76
Created three new lessons within a new category, see https://github.com/nbaars/WebGoat-Lessons/tree/new_lessons

All the lessons appear in the new category tested on Linux and Windows platform.

@davewichers can you take a look at the branch to see if the implementation of the lessons matches yours?

Thanks,
--Nanne

[2015-09-18 06:12] #71 closed

[2015-09-18 11:07] mayhew64 commented on #49
Do you mean tomcat:run-war or tomcat7:run-war?  Not that it matters as the issue happens with Tomcat 7.

[2015-09-18 12:25] mayhew64 opened #81 "Close button on about dialog does not close the dialog"
The window close works but not the close button.  Firefox on a Mac.

[2015-09-18 12:44] misfir3 commented on #49
tomcat7:run-war ... updated comment above as well.

[2015-09-18 19:06] davewichers opened #84 "./webgoat_developer_bootstrap.sh script continues to try to launch WebGoat after compilation errors"
If there is an error like the following, it keeps chugging along and tries to run WebGoat anyway. Can you add some kind of error handling to detect Maven errors at each stage and stop if there was an error?

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.1:compile (default-compile) on project FOO: Compilation failure

Whatever the error was

[ERROR] -> [Help 1]
[ER

[2015-09-18 19:11] dougmorato commented on #84
Sure thing... I will work on that over the weekend to add some sanity checks and also to address your other request, to inform the user that Tomcat/WebGoat has started.

I also want to create the "project"  for eclipse and intellij, so a developer only has to import the project on their IDE.

Thanks for reporting the issues.

[2015-09-18 19:13] dougmorato commented on #84
related to #75

[2015-09-18 19:15] davewichers commented on #84
Related to an Eclipse project, I'm not sure I'd bother. You can easily import a Maven project into Eclipse so I'm not sure of the point exactly. I don't use IntelliJ but imagine it has a similar feature.  I think just documenting how to import it into those IDEs would be good enough.

[2015-09-18 19:23] davewichers commented on #76
My lessons look the same as yours. I pulled in all the latest changes and
the issue seems to have gone away .

Not sure what¹s going on, but I¹m 3 for 3 today on all the lessons showing
up as they are supposed to.

I¹ll let you know if I see any failures in the future.

-Dave

From:  Nanne <notifications@github.com>
Reply-To:  WebGoat/WebGoat
<reply+004c5b05ec06547052865a0401ccf97ad23d7935843ac68

[2015-09-18 20:03] mayhew64 commented on #70
Added failed login message.  Waiting for PR

[2015-09-18 21:47] mayhew64 opened #86 "Ajax Security: LAB: Client Side Filtering"
Some wonky rendering is occurring when loading this lesson.  The web goat financials portion of the screen does not get rendered until the "select user" is clicked.  Tested on Safari and Firefox

Initial render:
![screen shot 2015-09-18 at 5 45 16 pm](https://cloud.githubusercontent.com/assets/3689202/9971843/0d8a404c-5e2d-11e5-96d5-96c50d89fa96.png)

After clicking on the select user:
![screen sh

[2015-09-18 21:49] nbaars opened #87 "Insecure login lesson has inline CSS background image is not applied"
We need to extract the css in a separate file just like the other lessons.
Lesson works.

[2015-09-18 22:46] misfir3 commented on #49
Closing for now. If anyone notices this again, please re-open.

[2015-09-18 22:46] #49 closed

[2015-09-19 01:17] mayhew64 commented on #76
Confirmed by multiple folks, all the lessons are showing up.

[2015-09-19 01:17] #76 closed

[2015-09-19 01:19] #70 closed

[2015-09-19 01:21] #64 closed

[2015-09-19 01:22] mayhew64 commented on #29
@nbaars Is this still an issue?

[2015-09-19 06:10] nbaars commented on #29
Fixed available in pull request

[2015-09-19 06:24] #29 closed

[2015-09-19 07:54] nbaars commented on #86
Looking into this one: the style is not included from the beginning in the Java code. After including the style the images cannot be found. PluginLoader needs to rewrite the paths.

[2015-09-19 10:35] mayhew64 opened #89 "Review and cleanup Installation Docs"
https://github.com/WebGoat/WebGoat/wiki/Installation-(WebGoat-7.0)

[2015-09-19 10:45] mayhew64 opened #90 "Review and cleanup releases and builds"
https://github.com/WebGoat/WebGoat/wiki

[2015-09-19 10:59] mayhew64 opened #91 "Add project cloning and setup instructions"
https://github.com/WebGoat/WebGoat/wiki/How-to-create-lesson-(WebGoat-7.0)

[2015-09-19 13:19] mayhew64 opened #92 "Update Plugin Architecture Docs"
https://github.com/WebGoat/WebGoat/wiki/Plugin-Architecture

[2015-09-19 14:58] mayhew64 opened #93 "Button to force plugin reloading"
As a developer, I would like a button to force the reloading of all plugins.

[2015-09-19 18:19] nbaars commented on #86
The lesson consists of 2 stages, the first one use ECS to build the content the second one uses a jsp with scriplet code inside.

The first stage did not include a reference to the style sheet when it first got loaded, the javascript kicked in when selecting something from the list box. Not quite sure why the css did work after that but adding the reference in the Java code fixed the issue.

[2015-09-19 18:19] nbaars commented on #86
Pull request is available

[2015-09-20 04:19] misfir3 commented on #24
awaiting pull request, then can be closed

[2015-09-20 04:19] misfir3 commented on #23
Implemented, awaiting pull request

[2015-09-20 04:39] misfir3 commented on #28
fixed previously

[2015-09-20 04:39] #28 closed

[2015-09-20 04:41] misfir3 commented on #65
Will look at this next ... but not tonight.

[2015-09-20 05:02] misfir3 opened #95 "Ajax error handling in case application is down or session is expired"
If the request is aborted, or there is an error in the response, that is not handled currently.  This should be handled/presented to the user accordingly.

[2015-09-20 14:06] mayhew64 opened #96 "i8n highlighting"
As part of the property loading in the label manager, it would be nice to set a flag that allowed a user to see which rendered text on a screen was served via i8n properties.  This can be a hidden parameter much like debug=true is.

[2015-09-20 19:15] nbaars commented on #93
Working on this, created a new endpoint for reloading plugins. We need to decide how we integrate this within the GUI:

- Button?
- Do we want to reload all the lessons or reload a specific lesson?

[2015-09-21 10:40] misfir3 opened #97 "re-enable challenge handling in LessonInfoModel"
Challenge needs hints turned off. This special case needs to be moved from LessonMenuService to the LessonInfoModel/Service.

See comments in https://github.com/WebGoat/WebGoat/pull/94

[2015-09-21 12:27] mayhew64 commented on #97
@misfir3 @nbaars We need to make this one a priority.  We need a RBAC mechanism that is checked for presentation and server side access control.

[2015-09-21 13:16] nbaars commented on #93
As discussed on the slack channel: we will reload all plugins, and make it available with reload=true url parameter or just a WebGoat/…/reload.  We can wire it up later.

[2015-09-22 01:15] misfir3 commented on #97
presentation side is covered (commit/push/pull  pending) ... looking at backing it up on server-side. No hints should be pulled at all on a challenge, correct?

[2015-09-22 01:27] misfir3 commented on #97
@nbaars @mayhew64  ... give it a once over. If it passes muster, go ahead and import.

[2015-09-22 10:49] mayhew64 commented on #97
@misfir3 I think we want to perform the check on a role versus a category.  I could see other lessons want to disable presentation layer access checks.  If it is easy to change to a role, lets do that.  If not, we can go with checking the category.  I can also see other lessons being in the challenge category and not wanting to have these features disabled.

[2015-09-22 12:06] misfir3 commented on #97
Good point. I'll take another look later today (~ 4 PM ET). Should be able to look at your other PR then as well.

[2015-09-22 19:21] nbaars commented on #93
You can now reload plugins with a call to a separate endpoint this endpoint. We can integrate this in the UI with a button in a later version

[2015-09-22 20:59] nbaars commented on #87
Fixed waiting for pull request

[2015-09-22 20:59] #87 closed

[2015-09-22 21:18] dougmorato opened #100 "Move webgoat-container UP one directory"
Given @nbaars PR99 (https://github.com/WebGoat/WebGoat/pull/99) is merged sucessfully, this effectively eliminates webgoat-classloader.

With this, we can move webgoat-container UP one directory again. It will make a lot easier to maintain and release.

I propose this to be done before release 7.0

[2015-09-22 21:19] dougmorato commented on #100
@nbaars @misfir3 : Thoughts on this ?

[2015-09-23 10:44] nbaars commented on #100
We could move it up one level. But we also had the idea to split the container and the lesson API. So you don't need to include the whole container jar when you are building lessons only a jar which contains a set of interfaces. This makes the dependency between the container and the lessons more strict. As a lesson developer you don't need access to all the internals of the container. This API wo

[2015-09-24 04:35] nbaars commented on #73
Seems to work fine now

[2015-09-24 04:35] #73 closed

[2015-09-24 08:11] nbaars commented on #96
First implementation, can you take a look? Can be extended later on.
Available in pull request

[2015-09-25 16:56] dougmorato opened #103 "Remove ace js directory"
The ACE JS directory seems not to be in use.

Plan to remove it

[2015-09-26 12:41] misfir3 commented on #97
Closing since PR has been completed.

[2015-09-26 12:41] #97 closed

[2015-09-26 12:42] misfir3 commented on #24
PR complete, closing

[2015-09-26 12:42] #24 closed

[2015-09-30 01:40] misfir3 commented on #65
Think I know what's going on here ... looking to see if I can integrate better detection without having too many disparate chunks of code to manage it.

[2015-10-04 09:54] nbaars opened #107 "Overview of which lessons maps to which WebGoat-Lessons project"
The menu-item does not always reflect immediately which WebGoat-Lessons project holds the source code for this lesson.

[2015-10-04 10:03] nbaars commented on #107
@mayhew64 did not find the issue on Github so created a new one. We talked about the mapping between a lesson in the menu and the WebGoat-Lessons a couple of meetings ago. I implemented this as a new admin function, see screenshot

<img width="864" alt="lessonmapping" src="https://cloud.githubusercontent.com/assets/493861/10267327/eabd0e86-6a8f-11e5-9046-b03dec1d8295.png">

[2015-10-04 10:04] nbaars commented on #107
available in pull request

[2015-10-04 10:39] #86 closed

[2015-10-06 08:56] neerolyte opened #108 "The jar snapshot doesn't run"
Java version: 1.7.0_79 - OpenJDK Runtime Environment (IcedTea 2.5.6) (7u79-2.5.6-0ubuntu1.14.04.1).

First run results in an unintuitive extraction error:
[code]

Second run produces other errors:
[code]

The .extract directory appears to only contain the directory skeleton:
[code]

[2015-10-07 20:17] nbaars commented on #108
Same error when running the executable war.

[2015-10-20 20:11] span commented on #108
Just cloned the project and can confirm it working for both cases on OS X with `java version "1.8.0_45" Java(TM) SE Runtime Environment (build 1.8.0_45-b14) Java HotSpot(TM) 64-Bit Server VM (build 25.45-b02, mixed mode)`

[2015-10-21 15:09] misfir3 commented on #23
Pulled, closing

[2015-10-21 15:09] #23 closed

[2015-10-21 15:16] misfir3 commented on #103
assigning to Doug for merge and close

[2015-10-21 15:41] dougmorato commented on #103
Merged into master

[2015-10-21 15:41] #103 closed

[2015-10-21 17:03] span commented on #45
I had a look at this and thought it should be possible to concatenate the `stageId` with the `lessonId` when generating the menu items. Would that be sufficient for now? I could provide a commit and pull request if so.

[2015-10-21 19:15] span opened #112 "Order of elements in deployment descriptor"
In Eclipse I got the error `Invalid content was found starting with element 'description'. No child element is expected at this point.`

The warning was from my web.xml at this location:

[code]

I had a similar error for the display-name in the same file at this location:

[code]
I have a fix in my fork and will create a pull request for it.

[2015-10-21 20:25] #112 closed

[2015-10-21 20:29] nbaars commented on #108
Ok great, closing the issue

[2015-10-21 20:30] nbaars commented on #107
Pull request has been merged, closing the issue

[2015-10-21 20:30] #107 closed

[2015-10-22 14:27] misfir3 commented on #45
Not everything has a stage, so that may be limited. Maybe better to prepend the category and/or use the ids (numerical) generated from the lessonMenu service. That's the short term. Longer term, I think I'd rather remove IDs out of the DOM on those menu items. That's a separate issue/effort though.

[2015-10-22 19:11] span commented on #45
I completely agree on the long term. On the short term, I am still new to the code base of the application so I might have missed something obvious but here is my quick analysis of the possibilities at the moment.

I fint that prepending the category `name` would make the id's very long although they would have good semantics.

`CrossSiteScriptingXSS`
`CrossSiteScriptingXSS-LABDBCrossSiteScripting

[2015-10-22 19:56] span opened #114 "Logging in sometimes goes to report card and misses category-menu"
I have been having issues trying to log in as `guest` or `webgoat`. The left menu does not render as expected with the categories but rather with the admin menu and displays the report card. Manually entering a URL-hash like `#attack/152/900` will load that page but still with the wrong menu.

I get stuck in this mode and logging out and logging in again puts me on the same page, even when I clear

[2015-10-22 20:32] #81 closed

[2015-10-22 21:41] dougmorato commented on #114
I am using the developer bootstrap, which calls the __mvn -pl webgoat-container tomcat7:run-war__ goal and I face this intermittent issue as well.

Whenever there is a fail when loading the plugins, no lessons are shown.

Here is the plugin that fail intermittently:

[code]

[2015-10-22 22:13] span commented on #114
I have the same failure in my logs when this occurs.

[code]

I did some further testing, in a more structured way with the following conclusions:

After running `mvn clean compile install` and launching with `mvn -pl ...` the first launch would alwys get the error. Cancelling with `ctrl+c` and relaunching with the same command would always launch the application without the error.

I got the same

[2015-10-23 05:00] nbaars commented on #114
I was able to reproduce this on a Linux machine seems to work fine on a Windows platform, also directly after a clean checkout and build. Changed how the jars are loaded also works on the Linux image now.

Pull request is available

[2015-10-23 05:24] nbaars opened #118 "Sauce labs fails when running oraclejdk8"
The JDK7 build passes, however the oraclejdk8 build gives an error:

[code]

[2015-10-23 05:25] nbaars commented on #114
The Travis build for JDK7 is green the JDK 8 build fails with an IO error(made another ticket for this one)

Before closing the issue can you do a verification on your machine?

[2015-10-23 07:04] span commented on #114
I have made new builds on my local machine that had the issue and I am no longer able to reproduce the issue. I am using JDK8 on OS X.

[code]

[2015-10-23 07:05] span commented on #118
Just wanted to add to this issue that I am compiling with JDK 8 on my mac and I am not seeing this issue. Are there any specific steps to reproduce?

[code]

[2015-10-23 15:10] misfir3 commented on #65
was looking at this yesterday and was no longer able to reproduce. @davewichers, are you still seeing it with latest updates?

[2015-10-23 15:23] misfir3 commented on #33
Stale ... closing

[2015-10-23 15:23] #33 closed

[2015-10-23 23:59] span commented on #93
I am not aware of any "developer controls" where such a button would be suitable in webgoat at the moment, is there one? If not, perhaps it could be useful to have some kind of "Developer Controls/Dashboard" that could be toggled on/off.

Such controls could be buttons/links to performing actions like reloading plugins and details about what is going on in the system. Here is a quick mock of what

[2015-10-24 00:02] span commented on #41
Is this an issue only with the menu or should the lesson content (and any other ajax loaded content) also have a spinner?

[2015-10-24 03:50] misfir3 commented on #41
@span - this was intended for the menu. Was thinking earlier today about need to specify that. Also, I have a commit that I will push to my fork (and issue a pull request on) [hopefully] tomorrow

[2015-10-24 05:10] nbaars commented on #93
@span: you can also add https://github.com/WebGoat/WebGoat/issues/96 which was added to highlight the text on a page in order to show which one is already in the i18n bundle

[2015-10-24 20:35] dougmorato opened #123 "Cannot serialize session attribute"
Whenever the __tomcat shutdown__ goal is called, I get a stacktrace for a serialization issue

[code]

@nbaars I believe you worked on this feature. Could you please check how we could serialize the session here ?

[2015-10-24 21:07] dougmorato opened #124 "SEVERE: The web application [/WebGoat] appears to have started a thread named [pool-7-thread-5] but has failed to stop it. This is very likely to create a memory leak"
Upon running the tomcat shutdown goal, I receive the following errors multiple times:
```SEVERE: The web application [/WebGoat] appears to have started a thread named [pool-7-thread-5] but has failed to stop it. This is very likely to create a memory leak```

After some investigation, I believe this is due to creating some threads and not releasing them after job completion:

The only sensible pla

[2015-10-24 21:10] dougmorato commented on #114
Fixed by Nanne on commit https://github.com/nbaars/WebGoat/commit/060b0cd8faf75bf1d37cdd8b216b4dd2e081e1fe

Now working on Linux, Windows and Mac :100:

[2015-10-24 21:10] #114 closed

[2015-10-24 22:33] dougmorato commented on #90
Work completed

[2015-10-24 22:33] #90 closed

[2015-10-25 07:30] span commented on #93
Sounds good to me. I can put something together unless @mayhew64 has already started on this or has other ideas?

[2015-10-25 20:22] nbaars commented on #118
Seems to be stable now closing the issue

[2015-10-25 20:22] #118 closed

[2015-10-25 21:49] nbaars commented on #123
Fixed, waiting for pul request

[2015-10-25 22:06] nbaars commented on #108
Issue is back. @dougmorato can you check? seems like the  `<tomcat7-maven-plugin.version>2.2</tomcat7-maven-plugin.version>` is back at 2.2. While fixing this issue I changed it to 2.1 because there are some issues with 2.2.

[2015-10-25 22:16] nbaars commented on #123
Needs more testing

[2015-10-26 03:26] dougmorato commented on #108
2.2 really has a bug: Info: https://issues.apache.org/jira/browse/MTOMCAT-211

I updated plugin version to 2.3-snapshot, which fixes the bug

Related info:
Info: https://issues.apache.org/jira/browse/MTOMCAT-211
https://fisheye6.atlassian.com/changelog/tomcat?cs=1539956
https://fisheye6.atlassian.com/changelog/tomcat?cs=1539209

[2015-10-26 03:26] #108 closed

[2015-10-26 03:32] dougmorato commented on #89
I believe the page is in a good state as of now and we point to the README, which is quite extensive

[2015-10-26 03:32] #89 closed

[2015-10-26 03:34] dougmorato commented on #100
Ok, closing for now due to future plans to add additional modules

[2015-10-26 03:34] #100 closed

[2015-10-26 06:54] nbaars commented on #123
Pull request is available. Tested in standalone Tomcat.

[2015-10-26 13:59] #123 closed

[2015-10-26 15:39] mayhew64 commented on #93
I have not started anything on the highlighting.  Feel free to put something together.

[2015-10-26 20:40] nbaars commented on #124
Finally part is enough, pull request is available.

[2015-10-26 21:32] dougmorato commented on #124
Merged and works :100: %

Thanks

[2015-10-26 21:32] #124 closed

[2015-10-26 22:05] nbaars opened #133 "hints are not refreshed when switching lessons"
Pick a random lesson, click the hints button then choose another lesson from the menu. The hints from the previous lesson stay visible.

<img width="477" alt="capture1" src="https://cloud.githubusercontent.com/assets/493861/10743858/10bceca2-7c36-11e5-80b2-6366f834f0b5.PNG">
<img width="489" alt="capture2" src="https://cloud.githubusercontent.com/assets/493861/10743859/111a32cc-7c36-11e5-959f-a46b

[2015-10-26 22:20] dougmorato opened #134 "SEVERE: The web application [/WebGoat] registered the JDBC driver [org.h2.Driver] but failed to unregister it when the web application was stopped. To prevent a memory leak, the JDBC Driver has been forcibly unregistered"
Upon stopping Embedded tomcat with the tomcat7:shutdown maven goal, a severe error message is thrown:

SEVERE: The web application [/WebGoat] registered the JDBC driver [org.h2.Driver] but failed to unregister it when the web application was stopped. To prevent a memory leak, the JDBC Driver has been forcibly unregistered

[2015-10-26 22:50] nbaars opened #135 "Multi level login lesson works but is missing area around the form"
Lesson works however the layout is missing, see screenshot. This is happening because the style is inlined.

<img width="392" alt="capture3" src="https://cloud.githubusercontent.com/assets/493861/10744705/4267c622-7c3c-11e5-9215-e29caffa2f78.PNG">

[2015-10-26 22:50] nbaars commented on #135
Already did the same for other lessons

[2015-10-27 18:52] #134 closed

[2015-10-28 01:58] dougmorato opened #137 "Source code is not available for this lesson."
For all lessons, whenever the user clicks "Java Source", the source is not displayed even though the Plugin Loader was successful in loading all plugins and the debug messages show successful lesson path identification under the target/plugin_extracted folder.

Tested with ```exec-jar``` and ```mvn -pl webgoat-container tomcat7:runwar```

[code]

[2015-10-28 02:00] dougmorato commented on #137
Adding pictures
<img width="1440" alt="screen shot 2015-10-27 at 9 53 45 pm" src="https://cloud.githubusercontent.com/assets/9654/10777841/f942a470-7cf5-11e5-87b2-49db79ede430.png">

<img width="1006" alt="screen shot 2015-10-27 at 9 59 33 pm" src="https://cloud.githubusercontent.com/assets/9654/10777856/117229ee-7cf6-11e5-97dd-b201b90146b7.png">

[2015-10-28 02:08] dougmorato opened #138 "Plan is not available for this lesson."
Similar to #137  , Lesson plan is not loaded on the ```exec-jar``` or ```mvn tomcat7:run-war```

Different than issue 135, the path is only relative, not a pull path, but the plugin loader is able to extract the files successfully:
[code]

<img width="1039" alt="screen shot 2015-10-27 at 10 03 40 pm" src="https://cloud.githubusercontent.com/assets/9654/10777943/1bc3d856-7cf7-11e5-9ae3-c85912c8bdb5

[2015-10-28 02:13] dougmorato opened #139 "Failed to load resource: the server responded with a status of 404 (Not Found)"
Upon loading start.mvc, there are errors reported for these 2 locations:

1. http://localhost:8080/WebGoat/js/libs/jquery-1.10.2.min.map
2. http://localhost:8080/WebGoat/js/libs/underscore-min.map

I am assuming those are not necessary and could be removed?

[2015-10-28 18:10] nbaars commented on #137
@dougmorato I tried to reproduce the issue but it seems to work:

- Tested on Windows without latest commits and with fresh checkout of the project
- Tested on Linux using the webgoat....sh script

Both cases I see the sources and the lessons plans...

[2015-10-28 18:10] nbaars commented on #138
@dougmorato I tried to reproduce the issue but it seems to work:

- Tested on Windows without latest commits and with fresh checkout of the project
- Tested on Linux using the webgoat....sh script

Both cases I see the sources and the lessons plans...

[2015-10-29 12:48] mayhew64 opened #141 "Stored XSS Lesson does not render message and attack does not fire"
The message is created, but clicking on the message does not render the content. The attack can't fire without the content being rendered.  The Message should show below the message list with a line separator.

 This is from Firefox, Chrome, and Safari

![screen shot 2015-10-29 at 8 46 50 am](https://cloud.githubusercontent.com/assets/3689202/10818662/c60342d4-7e19-11e5-946b-9b77b4dfb775.png)

[2015-10-29 20:09] nbaars opened #142 "Testing lessons"
Overview of tested lessons:

| Category | Lessons | Required to Release | Works | #Issue |
| --- | --- | --- | --- | --- |
| Access Control Flaws | Bypass a Path Based Access Control Scheme | no | yes |  |
| Access Control Flaws | LAB: Role Based Access Control 1 and 3 | yes | yes | Developer version N/A |
| Access Control Flaws | Remote Admin Access | no | no | HIDDEN |
| Access Control Flaws | U

[2015-10-29 22:53] nbaars opened #143 "Forced browsing lesson does not show success"
If you use the url: `http://localhost:8080/WebGoat/conf` for the solution you will see the following address: `http://localhost:8080/WebGoat/login.mvc#attack/150/1400&succeeded=yes` however this takes you to a login page instead of success page:

<img width="479" alt="capture" src="https://cloud.githubusercontent.com/assets/493861/10834268/356fa3aa-7e98-11e5-99f3-4082f3a5961b.PNG">

[2015-10-30 05:06] nbaars opened #144 "File upload does not work for lesson Malicious File Execution"
The upload button does not seem to work.

Environment: Windows
Browser: Firefox

[2015-10-30 06:42] nbaars commented on #141
Seems to be the same with Cross Site Request Forgery (CSRF) lesson

[2015-11-03 03:22] lgonline opened #145 "A failure occurred when execute the command "sh webgoat_developer_bootstrap.sh""
dear
    A failure occurred when i execute the command "sh webgoat_developer_bootstrap.sh"
    Detailed information as follows:
WARNING] The POM for org.owasp.webgoat:webgoat-container:jar:7.0-SNAPSHOT is missing, no dependency information available
[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary:
[INFO]
[INFO] webgoat-plugins-parent .........

[2015-11-06 07:17] nbaars commented on #145
@lgonline the first build step failed (webgoat-container). The lessons are dependent on this jar file. Can you please look at the first step into the buildjob to see why the build step of the container failed?

Thanks

[2015-11-06 18:00] misfir3 opened #146 "UI Documentation"
- Document UI components, Pub-Sub pattern and how UI generally communicates with back-end
- Tips on trouble-shooting
- How to implement custom javascript functions in the lesson scope if desired

[2015-11-20 17:02] misfir3 commented on #65
Finally getting back to this. Error message should be sorted. Dealing with the alert not firing twice now. Pull request to WebGoat-Lessons to follow.

[2015-11-24 21:50] mayhew64 opened #150 "Nightly build doesn't run"
When download loading the snapshot build, WebGoat doesn't start.

java -jar webgoat-container-7.0-SNAPSHOT-war-exec.jar
Nov 24, 2015 4:46:22 PM org.apache.coyote.http11.Http11Protocol init
INFO: Initializing ProtocolHandler ["http-bio-8080"]
Nov 24, 2015 4:46:22 PM org.apache.catalina.core.StandardService startInternal
INFO: Starting service Tomcat
Nov 24, 2015 4:46:22 PM org.apache.catalina.core.

[2015-11-26 10:09] lgonline commented on #145
dear nbaars, sorry for response it so late, i cannot find the webgoat-container:jar in org.owasp.webgoat.lesson:common

[2015-11-26 19:11] ilatypov commented on #150
Wasn't this "container" only a pre-requisite to be installed into a local Maven cache and used when running WebGoat-Lessons?

[2015-11-29 12:30] nbaars opened #151 "XML Injection does not work"
As mentioned in #142 this lesson does not work:

[2015-11-30 14:06] mayhew64 commented on #150
Probably need to dig into this a bit deeper but changing the scope of maven-jar-plugin back to the compile phase fixed the creation of the war-exec.jar

[2015-11-30 14:06] #150 closed

[2015-12-02 00:00] misfir3 commented on #65
Pull request completed, closing

[2015-12-02 00:00] #65 closed

[2015-12-02 00:00] #41 closed

[2015-12-02 19:06] misfir3 commented on #133
pull request in to fix this ... close once verified.

[2015-12-02 19:16] misfir3 commented on #141
Verified fixed ...
![alertstoredxss1](https://cloud.githubusercontent.com/assets/5103241/11541250/36ce7ff6-98ff-11e5-8daa-931f64d8c98d.png)

![storedxss2](https://cloud.githubusercontent.com/assets/5103241/11541255/3db97474-98ff-11e5-8368-0e67439aa349.png)

[2015-12-02 20:34] misfir3 commented on #143
Since the container acts as SPA now this one is a bit trickier. Here are my ideas ...

* Remove the category/lesson for now
* Configure a route (server-side) for /conf that can trigger success on this lesson & instruct user to open that page in a new tab/window and then return here.
* 'Spoof' the lesson entirely in the client
* Create a 'route' in the client that triggers the success, but returns

[2015-12-02 20:40] nbaars commented on #133
Tested and works, closing the issue

[2015-12-02 20:40] #133 closed

[2015-12-02 20:43] misfir3 commented on #143
alternatively, if we can get /conf to redirect to ...
http://localhost:8080/WebGoat/**start.mvc**#attack/{lesson#}/{cat#}&succeeded=yes
as opposed to login.mvc, that will do the trick. Started to look at it, but am out of time for today

[2015-12-02 20:49] misfir3 opened #154 "lazy load helps"
plan, hints, lesson, source etc. should be pulled as needed. Now that the LessonInfo service is implemented, we can do this, but tagging for 7.1, not 7.0

[2015-12-03 22:13] nbaars commented on #151
Fixed the JavaScript issue:

- JavaScript in separate file
- Used getXhrLink() method to get the correct link for performing the XHR request

[2015-12-03 22:13] #151 closed

[2015-12-04 02:35] misfir3 commented on #139
Seef this here:
http://stackoverflow.com/questions/18365315/jquerys-jquery-1-10-2-min-map-is-triggering-a-404-not-found
I'd vote to remove the line with:
//@ sourceMappingURL

[2015-12-05 07:08] nbaars commented on #144
@misfir3 this lesson needs to upload a file. It uses multipart content to check this, this method does not return `true` unless you use a `POST` method however in `LessonContentView.js` there is a function:

[code]

which seems to turn everything into a GET, however the file upload lesson needs a POST. I changed this to a POST lessons still seem to work and also this lesson works again.
Can we cha

[2015-12-05 21:27] misfir3 commented on #144
Good find.  I have an idea to fix this that will provide us some flexibility in the future and not jeapordize breaking other existing lessons. Will put this on the top of the pile.

[2015-12-09 20:45] UnChallengeD opened #156 "Command Injection Issue WebGoat 7"
Hi there,
I'm running WebGoat 7 on Ubuntu(VMware) with this command
java -jar webgoat-container-7.0-SNAPSHOT-war-exec.jar
on command injection page i cannot change to any other help file
you can see in the picture.
i just want to make sure this is not a bug? is it?

![webgoatx](https://cloud.githubusercontent.com/assets/6654061/11698129/0828c55e-9edf-11e5-8aca-c1f10041506f.jpg)
thanks..

[2015-12-12 17:42] misfir3 commented on #144
@nbaars  my idea is to have a property set (optionally) in the plugin to determine the method and then provide a method in AbstractLesson to fetch it. I started to use the existing WebGoatLabels.properties/labelManager as an easy starter. So I created a ...
plugin/i18n/WebGoatLabels.properties in that lesson and added
[code]
The idea is I'll pull it via the LessonInfoService and propagate through

[2015-12-14 20:49] nbaars commented on #144
@misfir3 the `ErrorGenerating=ErrorGenerating` is probably part of another `i18n/WebGoatLabels.properties` all the separate files are loaded and passed to a Spring resource loader, maybe just a guess can it have something to do with a missing newline?

[2015-12-15 01:58] misfir3 opened #159 "Update OWASP Wiki WebGoat page"
Page at https://www.owasp.org/index.php/Category:OWASP_WebGoat_Project needs some more updating. Namely ...
- add Nanne and Jason as project leads with Bruce
- Update getting started section (still points to 5.4 docs), should point to github.io/WebGoat
- Something about the plug-in architecture
- Something general about current plans/activity

[2015-12-15 02:15] misfir3 commented on #159
@nbaars - I listed you as a project lead, but didn't attach an email to it. Let me know if you want an email address on there (and if so, what you want there)

[2015-12-16 14:25] misfir3 commented on #144
@nbaars  Appears it was initially a missing newline. haven't had time to go back and finish the solution now.  Once done, lesson auhtors will be able to alter the method for a given lesson by filling in submitMethod=_METHOD_ in the WebGoatLabels.properties file.  Maybe we should change that to WebGoatLesson.properies in the long run.

[2015-12-16 15:03] nbaars commented on #159
@misfir3 as my e-mail address you can use nanneb@gmail.com
I looked at the page but my lastname is not correct, can you change my last name to Baars instead Bars?

Thanks,
--Nanne

[2015-12-16 16:35] misfir3 commented on #159
@nbaars Wow ... can't believe I botched that, sorry! Will update it a bit later.

[2015-12-18 19:57] misfir3 opened #160 "Provide Async error handling"
Right now, async response error handling is virtually nil. Need to handle responses for common errors ..
- 404
- 403
- 500
- ... others?

[2015-12-22 04:00] fanofun opened #161 "Doesn't run with tomcat8"
I depolyed WebGoat to tomcat8 but when I tried to log in, it says "invalid Session". I found the problem is in WebGoat/WebGoat/webgoat-container/src/main/java/org/owasp/webgoat/plugins/PluginsLoader.java.
Tomcat 8 doesn't support setAntiJARLocking() and addRepository() anymore. But I don't know how to fix it.

[2016-01-06 20:54] misfir3 opened #162 "Update HTTP Basics lesson"
Change references from WebScarab to OWASP ZAP

[2016-01-06 20:55] misfir3 commented on #162
Mistook previous issue submission for email list post ... closing.

[2016-01-06 20:55] #162 closed

[2016-01-07 00:23] ilatypov commented on #156
Indeed, plugin_extracted/plugin/CommandInjection will contain only lessonPlans and lessonSolutions.  The directory "resources" added to the path in CommandInjection.java appears out of sync with some later change.  "BasicAuthentication.help" shows up as a default value of the absent parameter.

[2016-01-07 08:28] nbaars commented on #143
Fixed, found out that the conf servlet and jsp were still part of the WebGoat container. This is now part of the lesson and the container during startup looks for servlets and dynamically adds them to the container.

The servlet now redirects to the lesson which displays the success page.

[2016-01-07 12:52] #138 closed

[2016-01-07 12:53] nbaars commented on #143
I will create a pull request after we release version 7.0

[2016-01-07 14:43] nbaars commented on #156
Issue found build step for copying the html files occurred too late

[2016-01-07 15:59] nbaars commented on #135
Fixed the styling issue waiting for pull request

[2016-01-07 18:15] nbaars commented on #66
This issue has been solved. The issue solved by @slavP also solved this issue.
Downloaded Eclipse and imported webgoat-container automatically worked. Closing this issue

[2016-01-07 18:15] #66 closed

[2016-01-08 14:28] nbaars commented on #156
Available as a pull request, can you review and merge the pull request to master?

[2016-01-08 14:29] nbaars commented on #135
Available as a pull request, can you review and merge the pull request to master?

[2016-01-08 18:05] misfir3 opened #165 "Provide over-rideable 'submitMethod' via AbstractLesson"
This is a convenience ticket, if you can get to it before me @nbaars (local mvn and git issues set me back).  If you happen to get to it before I can resume #144 (next week), that's great, otherwise I will close this. Not a ton of pressure, but you're much quicker on the container & Java code generally.

To support the fix intended for #144, I'd like to add a submitMethod to the LessonClass such t

[2016-01-14 13:58] misfir3 commented on #165
I was able to get to it ... made it an over-ride similar to other methods in AbstractLesson/LessonAdapter instead

[2016-01-14 14:33] misfir3 commented on #144
have the override working locally for this lesson. Going to update the hints first, then push it all up.

[2016-01-14 16:03] misfir3 commented on #159
finally updated Nanne's info ... only a month later, sheesh!

[2016-01-14 16:14] misfir3 opened #167 "update or remove http://webgoat.github.io/"
It's stale and is likely one factor keeping us from Flagship (and keeping folks confused about the project). I was going to suggest getting rid of it and just pointing our wiki links at https://github.com/WebGoat/WebGoat/ , but think given the diversity of the project (Legacy, Container, Lessons) more recently, maybe updating is in order ... thoughts?

[2016-01-15 11:11] misfir3 commented on #139
Not sure when, but the commenting was implemented ... closing.

[2016-01-15 11:11] #139 closed

[2016-01-15 16:39] #165 closed

[2016-01-15 16:40] #156 closed

[2016-01-15 16:41] #143 closed

[2016-01-15 16:41] #135 closed

[2016-01-15 16:49] nbaars opened #168 "Axis dependency needed for lessons is still in webgoat-container"
The webgoat-container has a dependency for Axis which runs as a servlet from the web.xml

1) This dependency is for lessons only so it should not be part of the container.
2) Lessons which use this dependency do not work (classname is hardcoded in the wsdd.properties)

[2016-01-16 17:43] nbaars opened #169 "CSRF lessons work but feedback to user about successfully completing the lesson can be improved"
Both lesson CSRF and prompt by pass work but the feedback to the user can be improved. As a user you will not immediately notice the comment in red stating: "Congratulation etc."
But the green checkbox in the menu will appear.

Prompt-by-pass shows the remark in the preview but unfortunately not in red.

[2016-01-16 18:22] nbaars opened #170 "Session Fixation link in stage 2 does not work"
The link points to http://localhost:8080/webgoat/#attack/71/1800&SID=WHATEVER which shows a blank page when you click it.

[2016-01-17 11:34] nbaars commented on #141
Tested indeed I see the alert but the lesson does not show that the lesson has been successfully completed.

[2016-01-17 11:57] nbaars opened #171 "JSP Goathills lessons imports are not valid"
Due to the move of the sources from the container to the lessons the imports for Employee classes has changed. We need to update the JSP files accordingly.

[2016-01-17 12:38] nbaars commented on #171
Fixed, updated all the imports in the jsp files.

[2016-01-17 12:38] #171 closed

[2016-01-18 11:25] misfir3 commented on #167
Removed it, but

[2016-01-18 11:27] #167 closed

[2016-01-18 12:00] misfir3 commented on #170
I'll take a look, the router is incorrectly catching (or not catching it) it would appear ... should be able to get it to handle/parse the & in the parameters

[2016-01-18 13:53] kidmose opened #173 "Redirect localhost:8080 to localhost:8080/WebGoat"
I spent a while figuring why nothing happened when I pointed my browser to localhost:8080, before realizing that webgoat runs on localhost:8080/WebGoat and not on the root.

I propose changing this such that getting started with WebGoat is easier.

    dkegokid@dkegokid-VirtualBox ~ $ uname -a
    Linux dkegokid-VirtualBox 3.16.0-38-generic #52~14.04.1-Ubuntu SMP Fri May 8 09:43:57 UTC 2015 x86_64

[2016-01-18 14:04] kidmose opened #174 "Exceptions for all lessons in "LAB: DB SQL Injection" and "LAB: SQL Injection""
I get errors on all lessons under "Injection Flaws" -> "LAB: DB SQL Injection" and "Injection Flaws" -> "LAB: SQL Injection" (and on the two pages reference)

For instance http://localhost:8080/WebGoat/start.mvc#attack/318/1100 produces the following:

    Error Message: Unable to compile class for JSP: An error occurred at line: 18 in the jsp file: /plugin_extracted/plugin/DBSQLInjection/jsp/Logi

[2016-01-18 14:56] nbaars commented on #174
@kidmose this has been fixed, see #171 can you upgrade the lessons? I'm not sure this is part of the nightly build yet.

[2016-01-18 14:56] #174 closed

[2016-01-18 15:08] nbaars commented on #170
Was looking into the issue but if I put the url in the location bar (instead of clicking the link) I'm able to proceed to the next stage

[2016-01-18 19:06] misfir3 commented on #170
it's generating a 404 from the link ... will see why the router can't parse it and find a way to make it work

[2016-01-18 19:15] misfir3 commented on #170
In SessionFixation.java ... we have
```"data:<br><br><center><a href=/webgoat/"```
That explains the 404. Will fix that and see where it goes from there

[2016-01-19 08:59] kidmose commented on #174
[Solved]
I can confirm that building from git sources solved the problem (f94d812, WebGoar-Lessons 386553)

[2016-01-20 02:11] misfir3 commented on #141
'success' criteria in java file was not 'loose' enough.  Plenty of successful ways may still not get picked up, but at least you can now succeed using the inputs from the hints. Merge request in.

[2016-01-29 12:07] span opened #175 "Backdoor lesson breaks menu CSS"
The backdoor lesson seems to break the menu margins for the LI-items. The lesson includes som inline CSS that targets `LI: margin-top: 10pt`. This causes the LI's in the menu on the left to get an extra margin of 10pt.

<img width="1371" alt="screen shot 2016-01-29 at 13 06 28" src="https://cloud.githubusercontent.com/assets/502136/12675252/2f21e0ce-c689-11e5-8322-b1452c873526.png">

Tested in Chr

[2016-01-30 13:05] span opened #176 "Lab Cross-Site Scripting Stage 1 solution"
The solution file for this lab does not render and is reported as missing. The stage has a solution in WebGoat 6 where the street field is injectable with a script but that solution does not work in WebGoat 7.

When injecting the field in WebGoat 7 with `<script>alert(1)</script>` the result is `.script.alert(1)./script.`. The brackets are turned into dots.

<img width="1260" alt="screen shot 2016

[2016-01-30 13:07] span commented on #142
I noticed the first XSS lab is missing from the list. I had some issues getting past stage 1 reported here #176

[2016-01-30 14:00] mayhew64 opened #177 "How to create a Legacy Lesson - instruction edit"
Existing text:

Lesson are simple to create and very little coding is required.   In fact, most lessons can be created by following the easy to use instructions in the **WebGoat User Guide**.  If you would prefer, send your lesson ideas to **webgoat@owasp.org**

Changes Needed:

- Change the WebGoat User Guide" to point to the wiki
- Change the webgoat@owasp.org to the group mailing list
- Add som

[2016-01-30 14:08] mayhew64 opened #178 "Http Basics - minor edits and change completion state"
Lesson requires 3 submits to complete, we should change it to 2 submits so it completes after 2 round trips.

First submit reverses test
Second submit reverses it back and completes the lesson.

The reference to OWASP Zap should be a link if possible

[2016-01-30 16:53] span opened #179 "Injection Flaws -> Limit Command Injection success to a set of commands and clarify this to the user"
It seems the command injection lesson is too strict and does only get marked as "complete" when the command has been executed with exit status 0.

On OS X for example the injection `" ; whoami #` returns 0 and completes the lesson with the command:

The command `" ; whoami ; "` returns exit code 127 and does not complete the lesson although the injection works and prints the system user name.

It

[2016-01-30 16:55] span commented on #142
**Injection Flaws -> Command Injection**

This has some issues with marking the lesson complete. No showstopper but would be nice to get fixed: #17

[2016-01-30 17:13] mayhew64 opened #180 "Challenge - Show* buttons show on initial lesson load"
The show source and other show* buttons show upon initial lesson load. this alows the user to grab the source code without hacking the access control on the source servlet.

[2016-01-30 17:28] mayhew64 opened #181 "Session Management Flaws - Spoof an Authentication Cookie render issue"
Pressing the refresh button in the lesson content is the only way to check if the setting of the cookie authenticates you as alice.  When pressing the button the screen render is whacky.

![image](https://cloud.githubusercontent.com/assets/3689202/12697252/ebba7142-c74c-11e5-8bc3-64547b47b03c.png)

![image](https://cloud.githubusercontent.com/assets/3689202/12697256/fbb44a46-c74c-11e5-8101-4e2e10a

[2016-01-30 17:59] mayhew64 opened #182 "Injection Flaws: LAB: DB SQL Injection - stack trace"
action=[Ljava.lang.String;@7fb1ea0c}
2016-01-30 12:58:31,209 DEBUG - HH Leaving Session_id: 5149C83A9757FF694C1F696CA8256577
java.sql.SQLException: Unknown JDBC escape sequence: { ? = call EMPLOYEE_LOGIN(?,?) }
    at org.hsqldb.jdbc.jdbcConnection.onStartEscapeSequence(Unknown Source)
    at org.hsqldb.jdbc.jdbcConnection.nativeSQL(Unknown Source)
    at org.hsqldb.jdbc.jdbcPreparedStatement.<ini

[2016-01-30 18:03] mayhew64 opened #183 "hints don't appear to work on labs"
First hint shows - no others.

[2016-01-30 18:39] mayhew64 opened #184 "Injection Flaws | XPath Injection date file path issue"
file not found  lessons/XPATHInjection/EmployeesData.xml

[2016-01-30 18:43] mayhew64 commented on #142
The following lessons have been disable.  we need to ensure tickets are filed for each of these before closing this issue.  Also we should have a testing stage wiki page.

lesson.BasicAuthentication.hidden=true
lesson.BlindScript.hidden=true
lesson.RemoteAdminFlaw.hidden=true
lesson.HttpSplitting.hidden=true
lesson.BasicAuthentication.hidden=true
lesson.SameOriginPolicyProtection.hidden=true
lesso

[2016-01-30 21:39] misfir3 commented on #144
@nbaars we can close this, right?

[2016-01-30 22:13] span commented on #176
The imports used by `CrossSiteScripting.java` are using the versions from the base class `GoatHillsFinancial` for the view, edit, update and find actions. When removing these imports so the lesson-specific versions are used the injection works and I can XSS myself on the field as expected.

This revealed a new issue. When logging out of GHF and logging in as Jerry it seems the injected code is no

[2016-01-31 14:39] dhatanian opened #186 "Access Control Flaws, LAB stage 3: Remove the FindProfile screen"
In stage 3, we try to read another employee's profile by changing the employee id in this URL:

[code]

However, the application already allows a user to view a profile using the `Search Staff` feature, which will legally display a an employee's profile. So basically the user is asked to find a hack to access a feature that he can already access through the normal application's behavior :-)

Since

[2016-01-31 14:41] dhatanian commented on #186
Sorry, I should have filed this under the `WebGoat-Lessons` repo. Closing this one, [made a copy in the lessons repo](https://github.com/WebGoat/WebGoat-Lessons/issues/51).

[2016-02-01 00:24] misfir3 commented on #186
@dhatanian We actually talked about this Friday and decided we want to keep the issues here. There is a way to link/reference fixes in other repo's. For now, leave this where you created it though.  Thx!

[2016-02-01 22:52] nbaars opened #192 "webgoat-container should unpack all the lessons"
Turned out during a mvn release the directory is cleaned and we are unable to copy the plugins. We need to create a zip file of all the lessons and upload in to the repository. The webgoat-container need to have a dependency on this zip and unpack it into the correct directory.

[2016-02-01 23:20] nbaars commented on #179
Correct the Linux/Unix/OS X commands are restricted to:

- netstat -a
- dir
- ifconfig
- etc.

We can add more commands, but looks like a safety thing only for Linux like platforms?
We can also make the lesson more explicit to for example state: "Try to execute the netstat command?"

[2016-02-01 23:21] nbaars commented on #179
@mayhew64 see above, should we change the lesson and only accept the `netstat` command or any of the predefined commands?

[2016-02-01 23:47] nbaars commented on #192
@dougmorato can you verify this together with the WebGoat-Lessons project? And merge this pull request?

[2016-02-02 19:51] span commented on #179
I agree. If we cannot accept and work with any command from the user it would be nice to limit it to some specific commands like the ones you suggested. We could then show a message saying something like _"That is a good command but you really should try one of ..."_ if a non-predefined command is executed.

[2016-02-02 22:00] span commented on #176
After some more debugging I have found the following:

* `CrossSiteScripting` class extends `RandomLessonAdapter`
* `RandomLessonAdapter` has a method `setStage` that recreates the database
* `WebSession.update` checks if the `stage` argument is precent on each request
* When the `stage` argument is passed in, `WebSession.update` calls `setStage` on the RLA.
* The `stage`argument is passed with ev

[2016-02-03 21:02] span opened #194 "Navigation and links are not the same after reboot"
We (Me, Bruce, Misfir3) had some brief discussion on Slack where it was noted that the links are not the same on purpose. The reason for this was:

I'm not sure what this really means but it seems strange not being able to share links with other users. Perhaps it could be possible to add a build flag that would allow the "testing tools" to behave properly and a regular build would enable the links

[2016-02-04 22:02] span opened #195 "HtmlEncoder uses static methods but must be instantiated"
The HtmlEncoder used in the Cross-Site scripting lab to encode the output has static methods that perform the encoding. These methods will not work if the HtmlEncoder has not been instantiated since the mappings are initiated in the constructor.

[code]

This means a user of the class must instantiate it before using the methods. I find it confusing.

I suggest that the `e2i` and `i2e` maps are st

[2016-02-05 13:21] d-subrahmanyam commented on #145
@lgonline - not sure if you found the issue. Ideally in the pom of the Webgoat-lessons its looking for webgoat-container-7.0-SNAPSHOT.jar while the webgoat root we are building is installing a webgoat-container-7.1-SNAPSHOT.jar. I changed the pom in webgoat-lessons module and it voila it worked.

[2016-02-08 23:14] span commented on #182
Hmm, did this ever work on WebGoat 6 using HSQLDB?

Looking at http://www.hsqldb.org/doc/1.8/src/org/hsqldb/jdbc/jdbcCallableStatement.html it seems that the syntax should be `{?= call...}`.

Look at the docs for [org.hsqldb.jdbc.jdbcConnection.nativeSQL](http://hsqldb.org/doc/src/org/hsqldb/jdbc/JDBCConnection.html) they claim that HSQLDB is very sensitive to the whitespace in the statement from

[2016-02-10 22:48] span commented on #182
Updating to HSQLDB 2.3.3 by changing the version number and updating the groupid to `org.hsqldb` so that it can be fetched from the central maven repo fixes the stack trace. It still gives an error though.

So either the db is not initiated with the function or something else could be amiss. I'm having some issues working out how the different kinds of persistence works so it is a bit slow.

[2016-02-11 21:35] span commented on #175
Merged in webgoat/webgoat-lessons#50.

[2016-02-11 21:35] #175 closed

[2016-02-11 23:15] span commented on #181
I am unable to reproduce this with the latest lessons and the latest commits from `develop` branch using Firefox and Chrome.

I have seen the issue on other parts of WebGoat occuring seemingly randomly but I suspect they come more frequently when I refresh the same page although the server have been restarted in between.

There has also been some broken layouts when intercepting requests and forge

[2016-02-12 07:35] span commented on #178
The logic behind the number of submits uses the lesson tracker count for visits. This means that if the lesson is restarted it will only take one submit to complete the lesson if it has been previously completed.

[code]

Since the user has completed it before it seems it is not a great deal but it is not consistend and perhaps could be changed as well.

[2016-02-12 15:34] rusboy opened #199 "Seems translation to Russian for "Congratulations. You have successfully completed this lesson." phrase is broken."
I'm observing ???? letters instead phrase "Congratulations. You have successfully completed this lesson."
Look at picture in the issue below
Original issue https://github.com/WebGoat/WebGoat-Lessons/issues/58

[2016-02-12 17:57] mayhew64 commented on #176
Awesome sleuthing.

[2016-02-12 18:02] #195 closed

[2016-02-13 08:31] span commented on #145
I tried running the script on my machine and it worked without errors. I'm also looking at the POM which still has the 7.0-SNAPSHOT.

[code]

@d-subrahmanyam Could you try to recreate the issue and post the complete error back here?

[2016-02-15 05:12] rusboy commented on #145
I had absolutely same issue before. By the way, it is here https://github.com/WebGoat/WebGoat-Lessons/issues/55

@span try to clear you you local maven storage and repeat test with fresh cloned source code..

@lgonline
webgoat project's branches don't provide artifact with version 7.0-SNAPSHOT. looks like it was, before tag 7.0.1 had been released.. but doesn't exist now

So, to compile lessons, y

[2016-02-16 19:06] Vinita16 commented on #171
I am still getting this issue.

[2016-02-16 19:30] diegochavezcarro opened #200 "Missing mvn package of webgoat-container in README.MD"
In Option #2 to run the project it should be:
cd WebGoat/webgoat-container
mvn package
cd /target
java -jar webgoat-container-7.1-SNAPSHOT-war-exec.jar http://localhost:8080/WebGoat

[2016-02-17 01:57] misfir3 commented on #170
believe this is stale ... closing

[2016-02-17 01:57] #170 closed

[2016-02-17 02:00] #141 closed

[2016-02-17 20:26] daneroo opened #201 "Failing Build"
Checking connectivity... done.
#####################################################################################################################
 Compiling and installing the WebGoat Container lesson server.....
 SUCCESS: Compiled the WebGoat Container successfully!
#####################################################################################################################
 Compiling

[2016-02-17 20:28] #201 closed

[2016-02-18 13:45] mayhew64 commented on #179
@span @nbaars I'm good with limiting the commands and providing information on the acceptable commands.  Sorry for the delayed reply.

[2016-02-20 11:48] span commented on #200
Thank you for the report. For me it is enough to run `mvn package` from the `WebGoat` folder. I have cleaned and emptied the maven repo cache. It would be nice if you could confirm that you have to run mvn package inside `WebGoat/webgoat-container`.

The run command needs to be updated to 7.1 though. As does the links to the 7.0 packages since the stable version is 7.0.1.

[2016-02-20 12:04] diegochavezcarro commented on #200
Yes, I tried two times and needed to run mvn package inside WebGoat/webgoat-container. I have maven 3.3.9, Windows 7 32 bits.

[2016-02-20 12:10] span commented on #200
Interesting, I'm on the same maven version but on OS X. Do you get an some error message when simply running the `mvn package` from the `WebGoat` folder?

[2016-02-20 13:05] diegochavezcarro commented on #200
Following the steps of README, "The Manual Way: Developer Edition!", after cd WebGoat-Lessons when running mvn package, this is the error:
[ERROR] Failed to execute goal on project common: Could not resolve dependencies
 for project org.owasp.webgoat.lesson:common:jar:1.0: Could not find artifact or
g.owasp.webgoat:webgoat-container:jar:7.0-SNAPSHOT -> [Help 1]

[2016-02-20 13:27] span commented on #200
Looks like it could be related to #145 where the reference in one of the pom files has not been updated which causes a common lib to fail the build.

Would you mind cleaning both `WebGoat` and `WebGoat-Lessons`, apply the fix from webgoat/webgoat-lessons#60 to the pom.xml and then running through the steps from the `mvn clean compile install` step again?

[2016-02-20 15:22] span commented on #183
I cannot reproduce the issue where only the first hint shows. I tested on the latest `develop` lesson server with the latest `master` lessons and I see *all* hints on the labs.

So for example on the Cross-Site Scripting Lab I can click through hints for stages 1 to 5 although I am viewing Stage 1. If I go to another Stage, the hints will be reset and shown from Stage 1. This might be the intended

[2016-02-20 16:29] diegochavezcarro commented on #200
It works! I forgot I already changed the pom, but that time I just went on without doing mvn clean compile install. This time I did it and it worked well

[2016-02-20 16:39] span commented on #200
Great!

[2016-02-20 18:37] misfir3 commented on #183
The hints are designed to work at a 'lesson' level.  If we want them to work at a stage level (and do we plan on supporting 'stages' in the future or just discrete/different lessons of varying levels?), we should create a separate issue (or set of issues) for that.

[2016-02-20 18:39] misfir3 commented on #180
@mayhew64 once PR is merged, this should be resolved. Can close after verifying.

[2016-02-20 18:40] misfir3 commented on #45
stale, closing

[2016-02-20 18:40] #45 closed

[2016-02-20 19:50] span commented on #182
Stabbed some more on this using the DatabaseManagerSwing util and I could not find any functions added to the database. I tried adding the functions from both `webgoat_oracle.sql` and `webgoat_sqlserver.sql` but they both fail with syntax errors for HSQLDB.

[2016-02-20 20:05] sierratango68 opened #204 "WebGoat 7.0 and ZAP 2.4.3 will not proxy"
Setup info at bottom.

If I start WebGoat first and then start ZAP, I get an error:
 'An error occurred while starting the proxy:
 Address already in use: JVM_BIND'
 Clicking OK on the error results in WebGoat not going through the zap proxy.

If I start Zap first, then start WebGoat,  Apache fails.
Navigating to http://localhost:8080/WebGoat results in page displaying 'Bad Format'

Part of WebGoa

[2016-02-20 21:26] mayhew64 commented on #204
WebGoat and Zap are both trying to use port 8080. Change the Zap port in the Zap preferences to use a different port. Set your browser to proxy to the port you set Zap to.

[2016-02-20 21:27] #204 closed

[2016-02-20 22:06] sierratango68 commented on #204
HAH! thanks for the insight.  I appreciate the help.  I am a noob.

[2016-02-21 01:52] mayhew64 commented on #204
No worries....  It could also be you have something else running on 8080....

[2016-02-21 17:04] span commented on #194
Been pondering this for a while now. Since the screen id's are generated "randomly" when the plugins are loaded, the id's would either have to be predefined or calculated from the plugin name if we would like them to stay consistent after reboots and across builds.

Instead of messing with the id's it could be possible to create some mapping between the plugin name and its screen id. Plugin names

[2016-02-21 17:30] span commented on #179
I'm looking at one of the if statements in `CommandInjection.createContent`.

[code]

So if the user is running Windows, all the commands are valid. Even commands like `ifconfig #` and `ls -l #`.

If the user is _not_ running Windows, the `dir #` command and `ipconfig #` are still valid although they are Windows commands. Is there some historic reason to why these commands are valid on other OS's?

[2016-02-22 18:09] misfir3 commented on #194
+1 on stable links. Been on my mind for a while to bring this up too (thanks for doing it @span). Need some more insight/discussion on the current status and some thought on implementation (assuming we move it forward).  However, I prefer this concept from a general web/product standpoint.

Also, I generally think the stable links allow for better integration with other OWASP products (e.g. ZAP sc

[2016-02-23 17:51] krvw opened #206 "Labs: Navigating to Instructor java examples"
Enjoying learning the new WebGoat, thanks all!

Question/issue: I use WG in classes often. When running students through the labs, I would often pull up the instructor version of a lab to show them how to implement a solution. These documented instructor versions of each lab were always easy to navigate to in Eclipse until now.

I suspect I'm just being dense and missing where they are now, but co

[2016-02-23 21:00] span commented on #200
Package references now merged, voting to close.

[2016-02-23 22:01] krvw commented on #206
I grabbed the instructor code from the Legacy Webgoat code base, no problem.

HOWEVER, when I run through the XSS lab now, it appears that the default (unfixed, and not instructor) version of the lab already has Stage 1 fixed. (I put an XSS into the street address as Tom, but it displays as ".script.". Was this on purpose? Am I missing something?

[2016-02-23 22:48] mayhew64 commented on #206
The XSS lab had a bug that was fixed but not released.  If you build from master, it should work.  I may be confusing XSS labs though.  Also, the instructor stuff was;t ported.  If you have it ported into the individual lessons please commit it back.  If not, the team will eventually get to it.  Let us known.

[2016-02-24 14:41] krvw commented on #206
Thanks for the quick reply.

I did build from the latest src tree, pulled down fresh from github, FYI.

After diving through this in more detail, I think I can shed some light on what’s happening.

- The LAB: CrossSiteScripting Stage 1 is built from WebGoat-Lessons/goat-hills-financial… In that version of UpdateProfile.java, the http request is handled via a parser class, String address1 = s.getPa

[2016-02-24 18:33] krvw opened #208 "Labs: Remnant files and solved stages"
OK, I hope I'm being clear enough. Apologies if I'm not. First off, I'm building from the master branch. Building from command line, so no IDE involved, FWIW.

While preparing for an upcoming coding lab session, I worked through all the XSS and SQLi labs. In doing that, I found several of the java class files seemed to have copies in two places:

WebGoat-Lessons/goat-hills-financial
and
WebGoat-Le

[2016-02-24 18:42] krvw commented on #208
Example snippet from UpdateProfile.java in cross-site-scripting (the one that is NOT being used in the lab, currently):

        HttpServletRequest request = s.getRequest();
        String firstName = request.getParameter(CrossSiteScripting.FIRST_NAME);
        String lastName = request.getParameter(CrossSiteScripting.LAST_NAME);
        String ssn = request.getParameter(CrossSiteScripting.SSN);

[2016-02-24 18:44] krvw commented on #208
From the WebGoat-Legacy tree, the instructor version of UpdateProfile.java is clearly based on the file in cross-site-scripting:

       HttpServletRequest request = s.getRequest();
        String firstName = request.getParameter(CrossSiteScripting.FIRST_NAME);
        String lastName = request.getParameter(CrossSiteScripting.LAST_NAME);
        String ssn = request.getParameter(CrossSiteScripting

[2016-02-24 19:35] krvw commented on #208
I've found a simpler solution, but I'm not sure if it breaks the design intent here, so please holler if it does.

In the CrossSiteScripting.java file located in WebGoat-Lessons/cross-site-scripting... simply comment out the import line for UpdateProfile (and, presumably, any other class files that are in the cross-site-scripting directory). That'll cause the appropriate java class to be used from

[2016-02-25 07:23] rusboy commented on #199
Pardon, wrong button was pressed

[2016-02-25 21:18] nbaars commented on #208
@krvw you are right the import is from the wrong package. It was on the list to go through all the GoatHills lessons to see were the newly defined class was different. Think if there is a difference we are better of renaming the class so it is not that easy to mix the classes.

[2016-02-25 21:34] krvw commented on #208
That’s a relief, thanks! I thought I was going crazy.

Now, just to clarify, which is the correct set of (flawed) LAB classes to use, the ones in cross-site-scripting or the ones in goat-hills-financial? And is this consistent in the other labs (sql-injection, role-based-access-control)?

I’m happy to help with the organizing on this. Just need to know what the design intention was.

Thanks.

Ken

[2016-02-25 22:44] span commented on #142
So, a few things have been fixed in here now.

#176, #181, #141 seems to be merged.

[2016-02-26 17:39] mayhew64 commented on #200
+1

[2016-02-26 17:39] #200 closed

[2016-02-26 18:04] #178 closed

[2016-02-26 18:07] dougmorato commented on #137
As we went some testing, we Identified that the issue seems to be related to permissions, as the "webgoat" user can't see the source, but the "guest" user CAN see the source code

[2016-02-29 18:23] krvw opened #209 "Labs: RBAC stage 1 and 3 not working"
OK, I've tried this every which way, but I'm not able to get the RBAC labs working in stages 1 or 3.

I tried this with the DeleteProfile.java code in the role-based-access-control tree as well as the DeleteProfile.java code in the goat-hills-financial tree, with the same results.

When I try to exploit stage 1 (login as Tom, change ViewProfile action to DeleteProfile, blah blah), it fails to exec

[2016-02-29 19:01] mayhew64 commented on #209
I was able to get a success for stage 1 by changing the action in the request URL from `action=ViewProfile` to:

`GET http://localhost:8080/WebGoat/attack?Screen=308&menu=200&stage=1&employee_id=105&action=DeleteProfile HTTP/1.1`

**However, Tom was not deleted and I could still view Tom (this part seems like a bug, I will need to go back and look to see if the user actually is supposed to be dele

[2016-02-29 19:14] krvw commented on #209
Thanks! So it seems I must've been doing something wrong. Still not quite sure what, but when I reverted back to the java classes in the role-based-access-control directory, it did exploit.

However, as you saw too, Tom was not in fact deleted. I know in past versions, Tom did get deleted. When you recompile and deploy, Tom is restored, though, so that shouldn't be a problem for stage 3.

Anyway,

[2016-03-02 12:00] span commented on #181
Merged and still not able to reproduce. Voting to close if someone else can try it as well.

[2016-03-03 02:12] misfir3 commented on #209
From the earlier comments, it seemed that maybe the (still klugier than I'd like it to be) form submission > AJAX conversion was missing something (and maybe it still is).

Let me know if this is still acting up or not working. I'm somewhat limited in my time the next two months and will be more so aiming what time I can at the next iteration of features in WebGoat.  But if it's still quirky, let

[2016-03-09 06:11] rusboy commented on #199
Hey Guys,
Just wanted to take a look solution for the issue.. But.. Seems it has been already fixed by https://github.com/WebGoat/WebGoat/commit/daa05dd19278497ba8349574fc79bc65de4a56c9 commit.

I've just done some tests.. I tried to compile package based on more older code. Issue occurs. Begin from the commit, there is no the issue.

As well, I tested on latest develop branch. There is no the iss

[2016-03-09 18:18] nbaars commented on #199
Great, closing this one

[2016-03-09 18:18] #199 closed

[2016-03-10 21:32] nbaars commented on #206
Renamed the classes, the classnames now reflect the lesson name so much less confusion

[2016-03-10 22:13] nbaars commented on #208
Pull request available in WebGoat/WebGoat-Lessons

[2016-03-13 09:42] nbaars commented on #180
It now looks like:

![image](https://cloud.githubusercontent.com/assets/493861/13727972/1f19482e-e908-11e5-816e-f84e997921f2.png)

After switching between a normal lesson and the challenge

[2016-03-13 13:01] YjyJeff opened #211 "WebGoat stops at DEBUG - Exit: getEngine()"
When I want to run the WebGoat, It stoped at DEBUG - Exit: getEngine().
How can I fix it?

[2016-03-13 13:44] #211 closed

[2016-03-14 18:48] krvw commented on #208
Thanks! I just grabbed the latest and that cleaned up the SQLi and XSS labs for me. Most appreciated!

[2016-03-18 12:17] nbaars commented on #181
Agreed, tested and refresh works ok. Closing this issue

[2016-03-18 12:17] #181 closed

[2016-03-18 12:49] nbaars commented on #184
Fixed, lesson will be enabled after the pull request has been merged in WebGoat/WebGoat.

[2016-03-18 12:50] nbaars commented on #184
Tested the lesson and it works again

[2016-03-18 12:50] #184 closed

[2016-03-18 13:39] nbaars commented on #173
Everything links toward /WebGoat, so I've added the link from the documentation as well to the console output. So starting of the exec.jar will show the url to open at the bottom when starting.

[2016-03-18 13:39] #173 closed

[2016-03-18 20:10] span opened #213 "Restart lesson button not working"
It seems the restart lesson button stopped working at some point. This is because it has the wrong id.

From main_new.jsp:

[code]
Switching the id back to the proper one makes it work again :)

[code]

[2016-03-18 20:47] span commented on #186
So it seems the search was not used in any stage for the lab so I removed the references to the find profile and search action in the commit.

[2016-03-18 20:51] span commented on #182
Sorry for nagging on this but did this ever work on WebGoat 6 using HSQLDB? If so, does anyone remember how the functions/statements were added?

[2016-03-18 21:03] span commented on #209
I get the same results as @mayhew64.

[2016-03-18 21:11] span commented on #194
One issue with this that I had not thought of earlier is that it seems many lessons depend on the numeric id's. So adding user-friendly URL's might break some things in an naive approach and would add a lot of complexity with a more sophisticated approach. It would also make some hints and solutions outdated.

Simply loading the plugins in a single-threaded manner would not fix this either since a

[2016-03-19 11:53] nbaars commented on #179
Cleanup the lesson, if you use a ";" or a "&" with whoami or some other command the message will appear about the valid commands you can use. Also did some work on the layout so there is a more distinction between the lesson and the output of the command

[2016-03-19 11:53] nbaars commented on #179
@span Can you test this lesson after the pull request has been merged?

[2016-03-19 14:22] #213 closed

[2016-03-19 14:42] nbaars commented on #180
Tested this issue again, looks like some caching issue. Issue is indeed fixed buttons are not shown in the challenge.

[2016-03-19 14:42] #180 closed

[2016-03-19 14:45] nbaars commented on #183
@mayhew64 can you verify and close the issue?

[2016-03-19 15:43] nbaars commented on #208
Great! Closing this issue

[2016-03-19 15:43] #208 closed

[2016-03-20 08:22] nbaars commented on #206
@krvw the instructions are again part of the lessons (see instructor packages in the Goathill labs)

[2016-03-20 08:22] #206 closed

[2016-03-20 09:46] nbaars commented on #192
Pull request has been merged during the release profile the lessons will be unpacked. Closing the issue

[2016-03-20 09:46] #192 closed

[2016-03-20 09:50] nbaars commented on #186
@span can you create a pull request of your branch towards WebGoat/WebGoat-Lessons?

[2016-03-20 09:52] span commented on #186
There is one at webgoat/webgoat-lessons#64, should have made the description more clear I suppose.

[2016-03-20 10:02] span commented on #169
This was more tricky then I thought at a first glance. I think the goal really should be to get the red text displayed as soon as the lesson finishes. I'm not sure on how to do this at the moment and I will dig some more into it.

I suppose it would be nice if all three CSRF lessons could decide on success in the same or at least a similar way.

Some ideas:
* Return a script/message that loads the

[2016-03-20 20:05] IWriteThings opened #215 "How to use a different IP for VM?"
I want to install the WebGoat application inside a VM. I need it to not point to 127.0.0.1 but instead go to the internal IP of the device.

How do I change the IP from 127 when running the application? I can change ports but not the IP.

[2016-03-20 20:38] mayhew64 commented on #215
How are you running WebGoat?  You will either need to change the IP in the server.xml file or you may be able to change the host as a parameter to the build and generate a new standalone jar.

[2016-03-20 21:14] span commented on #179
I think this might need some more work.

I tried injecting the command `" ; whoami #` and I got the message about "being on the right track" but I also got a message saying I completed the lesson and it was marked green in the menu.

[code]

Injecting `" ; whoami ; "` fails to complete (as it should) and displays the new message.

Without digging deeper I suspect it might have to do with the first

[2016-03-20 21:40] nbaars commented on #169
Indeed was looking into this one as well. Clicking the link triggers the page to be reloaded (first time you enter the lesson) then the image gets loaded (which also hits the lesson) and marks it as completed. However lesson content in the JavaScript is already reloaded and the div for the "Congratulation" message is not there because the lesson is not marked as completed when the first call happe

[2016-03-20 21:41] nbaars commented on #169
Working on separating the "Congratulation" message into a separate call (makes it more conform the SPA working of WebGoat)

[2016-03-20 21:47] span commented on #169
Yes, either a separate call or to include a check in the first request that fetches the Message from the database. Making it part of the initial request would simplify the flow although it might cause issues with validating the exact command.

[2016-03-20 22:05] IWriteThings commented on #215
I am using the standalone file. The one linked in the read me.

[2016-03-20 22:22] nbaars commented on #179
@span fixed the issue, the second if loop which does some checking marked the lesson as completed. Should be fixed, can you verify once more? Thanks.

[2016-03-20 22:35] span commented on #179
@nbaars Hmm, I got the changes, cleaned a couple of times and rebuilt but my first command still succeeds. I got a busy week ahead unfortunately so I wont have time to look into it until next month.

[2016-03-21 15:07] mayhew64 commented on #215
You will need to rebuild the war-exec.  The instructions on how to build WebGoat are in the README located: https://github.com/WebGoat/WebGoat

The instructions for changing the tomcat plugin settings are: http://tomcat.apache.org/maven-plugin-trunk/tomcat7-maven-plugin/usage.html

Once you have done this would you mind supplying the steps so we can put it in our FAQ.

[2016-03-21 16:07] IWriteThings commented on #215
Rebuild WebGoat To Use A Different IP For VM
- [ ] Rebuild the war-exec
- [ ] Change the Tomcat settings
- [ ] Create the FAQ Instructions For Doing So
- [ ] Request Change To Compiled System To Accept Different IP in arguments

Example
[code]

I will get this done this weekend. Please leave this issue open in the meantime as I get this done. Thanks!

[2016-03-21 19:52] span commented on #93
Just wanted to let you know I have picked up work on this again and hope to have something after this week (which is way to busy).

[2016-03-21 20:38] span opened #216 "Links in menu missing pointer cursor"
On Firefox on OS X I do not get a pointer (clicky pointy hand) when hovering links in the menu. Instead I get the text selection tool.

I would argue all `a` tags should be using the css `cursor: pointer` although this seems like a design decision made at some point since only `a:link` tags (or tags with `href` attribute?) have the pointer.

[2016-03-21 22:08] nbaars commented on #179
Will have a look

[2016-03-22 06:35] #186 closed

[2016-03-22 06:38] nbaars commented on #145
Close as @span fixed this with WebGoat/WebGoat-Lessons#60

[2016-03-22 06:38] #145 closed

[2016-03-23 19:16] span opened #217 "Menu is not auto expanding when reloading"
To reproduce:
1. Log in
2. Go to any menu option that requires the menu to expand
3. Reload the page (F5, CTRL+R, CMD+R)
4. The page reloads but the menu is not expanded to show the currently selected page

[2016-03-23 19:27] span commented on #194
While watching a presentation of the Lagom Java EE microservices framework they said that they were calculating port numbers based on the hash of the service name to enable autodeploy and autodiscovery. Perhaps this is not a bad option.

When compiling for deterministic id's we could calculate a hash that would generate an int in the range we want based on the plugin name. To me it seems like an e

[2016-03-23 19:33] span opened #218 "Navigation to start page is broken after login"
After logging in the intro page loads fine. When clicking the logo in the top left corner which loads `start.mvc` I am not redirected to the `Introduction: How to work with WebGoat` page nor any other page. I simply get a blank screen in the lesson area. The menu loads fine but the cookies/parameters view is not loading.

This is also the case if navigating to "home" by the top left logo from any

[2016-03-23 19:47] span commented on #93
So I have most of the wiring in place now but I would like #218 to be fixed so see if re-routing to `start.mvc` is a good alternetive to refresing the tab after reloading plugins and labels.

Ideally I suppose re-routing to whatever page the user was on when clicking `reload` would be great but that requires #194 to be in place.

[2016-03-24 01:25] b1rd0fb3auty14 commented on #177
I can work on this.

[2016-03-25 13:07] mayhew64 commented on #182
Can't say definitely it worked in WebGoat 6, but it did work in 5.4

[2016-03-27 22:15] b1rd0fb3auty14 commented on #177
Hello @mayhew64 what is the group mailing list? Also, is this documentation inside the code, and if so, where? Thanks!

[2016-03-28 07:39] nbaars commented on #169
Fixed, waiting for pull request to get merged.

[2016-03-28 07:41] nbaars commented on #217
Correct, controller needs to reload menu I guess.

[2016-03-28 11:00] span commented on #218
So it seems `start.mvc` is not really "the start". `start.mvc` gets sent the navigation link from `Hammerhead`. `Hammerhead` looks for the parameter `start=true` to load the orrect link. Without the link the page will not be initialised properly since Backbone will not know which screen to load.

So: we can either link to `welcome.mvc` from the logo, or we can link to `/WebGoat/?start=true` so tha

[2016-03-28 12:07] samstep opened #221 "WSDL link in SOAP Request Lesson crashing with AXIS error"
WebGoat 7.0.1 error:

Steps to re-produce:

1. Go to Web Services / Create a SOAP Request
2. Click on WebGoat WSDL file:

/WebGoat/services/SoapRequest?WSDL

**AXIS error**

Sorry, something seems to have gone wrong... here are the details:

**Fault - ; nested exception is:
	org.apache.axis.ConfigurationException: Could not find class for the service named: org.owasp.webgoat.lessons.SoapRequest**

[2016-03-28 12:10] samstep opened #222 "AXIS class not found error in Web Services / WSDL Scanning"
WebScarab v7.0.1

Go to: Web Services / WSDL Scanning - click on the WebGoat WSDL link:

**AXIS error

Sorry, something seems to have gone wrong... here are the details:

Fault - ; nested exception is:
	org.apache.axis.ConfigurationException: Could not find class for the service named: org.owasp.webgoat.lessons.WSDLScanning
**Hint: you may need to copy your class files/tree into the right location

[2016-03-28 22:29] nbaars commented on #221
Fixed the classname in the wsdd configuration file, WSDL is working again

@samstep are you able to test the lessons with the develop build of WebGoat? Thanks in advance.

[2016-03-28 22:30] nbaars commented on #222
Same a #221 fixed.

@samstep can you also test this lesson with the develop version of WebGoat, thanks in advance.

[2016-03-28 22:32] nbaars commented on #218
I agree `/welcome.mvc` looks like a cleaner solution.

[2016-03-28 23:25] nbaars commented on #137
Pull request is available. Can someone review?

[2016-03-29 12:20] vdbaan opened #225 "Refresh in Insecure Login malfunctions"
The Refresh button in the Insecure Login lesson loads the main page inside the lesson-content-wrapper, instead of just refreshing the entire page.

[2016-03-29 17:38] krvw opened #226 "Restart lesson button isn't working"
Unless I'm doing something wrong, the Restart Lesson link is no longer restarting any of the lessons. In some cases, this doesn't matter, but in others, that leaves you in a state you can't get out of.

Thanks.

Ken van Wyk

[2016-03-29 17:42] krvw opened #227 "Session Fixation lesson problem with passing parameter"
When I try the Session Fixation lesson, if I add the SID parameter to the href link using "?SID=12345", stage 2 fails. However, if I use "&SID=12345", all is well.

Using the former, stage 2 ends up in a bad way, as I cannot restart the lesson either, and logging out doesn't restart it. I have to recompile and redeploy WebGoat to extricate the session from this state.

Perhaps there's an easier wa

[2016-03-30 10:20] vdbaan commented on #144
It appears that start.mvc does not forward the request to the lesson, which results in that this lesson does not receive the file at all. Even when you change the form to a post.

[2016-03-31 12:57] mayhew64 commented on #226
Which lesson(s)?

[2016-03-31 17:02] krvw commented on #226
I tried it in a few, and I didn't see it working in any. However, String SQL Injection is a good example. After you succeed with an attack (e.g., ' or '1'='1), the servlet starts using PreparedStatement to protect itself. When I press restart to go back to the unprotected state, nothing happens.

[2016-03-31 21:09] span commented on #226
This has been an issue on and off. Are you using the latest snapshot build from the develop branch @krvw?

[2016-04-01 02:41] krvw commented on #226
Last updated mine about 2 weeks ago, but I'll refresh and verify. Thanks.

[2016-04-01 02:52] krvw commented on #226
Yup, you were right. After a refresh, the problem (at least in the string SQL injection) exercise is now fixed. Thanks!

[2016-04-01 02:55] krvw opened #230 "Bypass client side javascript validation not working?"
Might well be pilot error, but I'm no longer able to get this exercise to work. Is there a bug? I intercept the request, change a couple fields, and the screen merely refreshes with the original (pre-validated) data in place. No mention of any fields bypassed.

This one was working for me up until very recently. I just grabbed fresh code from Github, and confirmed the problem still exists for me.

[2016-04-06 08:37] splanard opened #231 "Lesson Ajax Security "LAB: Client Side Filtering" - can't validate stage 2"
I'm running webgoat 7.0.1 on XAMPP tomcat server.
In the stage 2 of the lesson mentionned in the title, it is asked to modify the jsp file to add filter in the XPath expression upon the manager ID, which I did.
But I just can't validate this step.

I even duplicated a part of the java source code in a small java application on Eclipse to debug this matter :

[code]

This prints "TRUE" when running

[2016-04-06 20:42] DarkHunterer opened #232 "Lab: Client side filtering - broken path"
Looks like I posted this issue on wrong WebGoat page 6 days ago, so I'm reposting it here.

You can't go through stage 2, because there is attempt of opening file with bad path. There is slash " / " symbol missing before jsp

webapps/WebGoat/plugin_extracted/plugin/ClientSideFilteringjsp/clientSideFiltering.jsp

Piece of error:

java.io.FileNotFoundException: /xxx/xxx/xxx/WebGoat/.extract/webapps/

[2016-04-06 20:43] DarkHunterer commented on #231
There is a slash missing in the "webapps/WebGoat/plugin_extracted/plugin/ClientSideFilteringjsp/clientSideFiltering.jsp" string.

You can work it around by adding it before "jsp" so it should look like:

webapps/WebGoat/plugin_extracted/plugin/ClientSideFiltering/jsp/clientSideFiltering.jsp

[2016-04-07 07:33] splanard commented on #231
I don't understand what you're talking about...

[2016-04-07 07:49] splanard commented on #231
Ok, I finally understand what you mean now I looked more into webgoat classes.
The initial code of the method `ClientSideFiltering.doStage2()` contains the following line :
[code]
And here is the content of `LessonUtil.getLesson()` :
[code]
The implicit call of `toString()` on the lesson directory removes the trailing slash. So the JSP path can't be correct : the result is what DarkHunterer posted

[2016-04-08 16:27] #216 closed

[2016-04-08 16:27] #218 closed

[2016-04-09 20:12] nbaars commented on #226
Seems to be working, closing for now (we can always open the issue again)

[2016-04-09 20:12] #226 closed

[2016-04-09 20:33] nbaars opened #233 "Moving towards new Spring version (new lessons)"
In order to support the new lesson model we have in mind we need to start using a framework which will support the new lesson development. We also need to:
- Move away from ECS.
- Move away from using JSP files for the lessons (horrible with classloading)
- Move to Java 8
- Move to Tomcat 8
- Using dependency injection all the way. (benefit for writing unit tests)
- Using webjars for JavaScripts

[2016-04-09 20:35] nbaars commented on #233
Migration is done, the branch `feature/spring-boot` contains a working WebGoat, I do need to update some parts of the documentation.

- jsp's for WebGoat (internal) have been moved to html files.
- All ECS lessons should still work
- The JSPs lessons no longer work will need to be migrated to html files.

[2016-04-09 20:37] nbaars commented on #215
See, #233 with Spring Boot you can directly specify the port. (not sure about the bound-ip) though

[2016-04-09 20:38] nbaars commented on #161
See #233 it will by default run on Tomcat 8.

[2016-04-20 03:04] felipedeboni commented on #144
This is how I fixed:

![image](https://cloud.githubusercontent.com/assets/735836/14662340/80be48c2-068b-11e6-9295-ae828e3b2f94.png)

[2016-04-28 23:35] tadwhitaker opened #234 "Application Won't Start"
Any help would be great. Seems simple enough: Download application, cd into the directory and run java -jar webgoat-container-7.0.1-war-exec.jar

However, that returns the following error:

Apr 28, 2016 4:24:06 PM org.apache.catalina.core.ContainerBase.[Tomcat].[localhost].[/WebGoat] listenerStart
SEVERE: Error configuring application listener of class org.owasp.webgoat.application.WebGoatServletL

[2016-04-29 00:48] mayhew64 commented on #234
The version 51 is a java incompatibility. We use Java 8 so you are probably running with Java 7.

[2016-04-29 08:15] SpyrosMArtel opened #235 "Could not initialize class org.owasp.webgoat.session.UserTracker"
Hello,
After compiling WebGoat 7 and copying the war file to _$tomcat_root/webapps_ (Virtual Machine) and logging in with both default accounts (From host), the following exception occurs (Screen : "How to work with WebGoat"):

[code]

Further a loading spinner is visible on the left, where the lessons should have been.
I will try to explain all the steps involved in an effort to ease the replicat

[2016-05-06 16:33] sowdust opened #236 "developer bootstrap says git is missing when it is installed"
After launching webgoat_developer_bootstrap.sh it returns the error `ERROR: Missing git'! Make sure it exists and try again` althought git is properly installed. In fact, installing "the manual way" clones the repositories just fine

[2016-05-10 01:16] eschonberger opened #237 "Wrong Answer Section: Authentication Flaws Challenge: Password Strength"
The solution claims to be:

Password = 123456: 0 seconds
Password = abzfezd: 2 seconds
Password = a9z1ezd: 19 seconds
Password = aB8fEzDq: 15 hours
Password = z8!E?7: 20 days
Password = My1stPassword!:Redd: 364 quintillion years

however when you use: https://howsecureismypassword.net **the results differ:**

Password = 123456: 0 seconds
Password = abzfezd: 0.2 seconds
Password = a9z1ezd: 2 second

[2016-05-10 01:51] b1rd0fb3auty14 commented on #177
Hey @mayhew64 - can you please answer the questions above? Thanks.

[2016-05-10 03:16] mayhew64 commented on #177
Thanks for the shout.  Seriously.

The list is: owasp-webgoat@lists.owasp.org it requires registration so we may want to add some words about that. Registration is at: https://lists.owasp.org/mailman/listinfo/owasp-webgoat

The how to create a lesson is loaded from the lesson plans (I'm going from memory) so it should be in the lesson plans folder for that lesson.

We also might want to add the OW

[2016-05-10 03:17] mayhew64 commented on #177
And thanks for the help!

[2016-05-11 01:44] b1rd0fb3auty14 commented on #177
You're welcome! I have one more question @mayhew64 -  what is the address of the wiki?

[2016-05-11 11:33] mayhew64 commented on #177
https://github.com/WebGoat/WebGoat/wiki

[2016-05-15 04:42] b1rd0fb3auty14 commented on #177
Hey @mayhew64 - I have made the changes in the following files: LessonAdapter.java to change the verbiage and WebgoatContext.java to change the feedbackAddressHTML. I want to test to make sure everything is working, can you guide me on how I can do this? Or point me to the document that will tell me this?

[2016-05-15 04:43] b1rd0fb3auty14 commented on #177
Sorry - I was confused about this: **Add some test to file an enhancement issue with the idea** - what do I need to do with this? @mayhew64

[2016-05-16 02:20] b1rd0fb3auty14 commented on #227
Hello @krvw - I think adding the ampersand to the query string is correct. The issue seems the ampersand is not being encoded properly. Instead of passing the "&" - it should be "&amp;"
See website: https://perishablepress.com/how-to-write-valid-url-query-string-parameters/

@mayhew64 - Please give your feedback. Thanks!

[2016-05-16 10:43] misfir3 commented on #227
I'll look at it, but in short ...
* yes, `?var=foo` is correct for first parameter
* AND  `&var2=bar` is correct for following parameters
... on a GET request

With some other under the hood changes in WebGoat that happened a little while back, there are ajax calls being made that you are essentially appending to.  Likely we need to update the text/hints on it.

Filing as bug is correct. I'll assi

[2016-05-16 11:59] mayhew64 commented on #177
@nbaars Can you elaborate on test expectations

[2016-05-16 12:01] mayhew64 commented on #236
@dougmorato Can you look into this

[2016-05-21 09:31] dilshanraja commented on #236
Encountered the same issue - the return codes in ftest() were mixed up.

I've created a pull request for it - https://github.com/WebGoat/WebGoat/pull/238

[2016-05-22 21:18] span commented on #237
I think it would be worth noting that different "password testers" will yield different results. The GRC haystack for example gets the following results for `My1stPassword!:Redd`

This should be made clear in the updated answer and I'm thinking perhaps it should also note that dictionaries are very efficient against the `My1stPassword!:Redd` type passwords.

[2016-05-24 19:53] sowdust opened #240 "Java Error Message in Lesson "How to Bypass a Path Based Access Control Scheme""
Hello,

besides the fact that the images and filenames contained in the solution of the lesson in object probably refer to an older version and don't match the current one, when I select an item from the menu and submit the form i get the following error:

**Error Message: org.owasp.webgoat.session.WebgoatContext.isDefuseOSCommands()Z**

Stack trace:

[code]

[2016-05-25 05:24] mayhew64 commented on #240
What version are you running?

[2016-05-25 11:57] Astorsoft commented on #240
Hi, same issue here, I'm using Version: 7.1-SNAPSHOT, Build: build

I'm running it as described in the "The Manual Way: Developer Edition!" and then run it using Option #2.  I also added users in the sprintsecurity.xml just in case it may impact something.

[2016-05-25 19:41] sowdust commented on #240
same versione, same installation method.

On Wed, May 25, 2016 at 1:57 PM, Morgan H. <notifications@github.com> wrote:

[2016-05-30 20:40] b1rd0fb3auty14 commented on #177
@mayhew64 @nbaars - I created a pull request for this issue. Please review when able. Thanks!

[2016-05-30 20:50] b1rd0fb3auty14 commented on #231
@DarkHunterer @splanard Has anyone fixed this? If not - I can do it. Please respond. Thanks!

[2016-05-31 14:41] splanard commented on #231
I really have no idea. I'm still using the same version of WebGoat (the one from which I reported this issue).

[2016-05-31 20:55] DarkHunterer commented on #231
I fixed it locally but lost it long time ago. There are some more similiar issues in several places that I didn't have time to report.

[2016-06-01 13:48] mayhew64 commented on #231
@b1rd0fb3auty14 Feel free to submit a pull request.  It would be greatly appreciated

[2016-06-02 20:10] nbaars commented on #240
This is because the WebGoat-Lesson project still depended on the 7.0.1 version of the container. The WebGoat-Lesson project now also has a develop branch which depends on the 7.1-SNAPSHOT version of the container. The documentation did not contain this explanation (I've added this part).

[2016-06-02 20:10] #240 closed

[2016-06-02 20:11] nbaars commented on #236
Closing the issue because #239 has been merged

[2016-06-02 20:11] #236 closed

[2016-06-03 14:52] ysalimi opened #242 "WebGoat // Lesson Plan and Solution are note available"
Hello Team,

I'm requesting you because I encounter some issues with WebGoat installed on my local machine.
The machine is KaliLinux2
I've installed the last version from : http://webgoat-war.s3-website-us-east-1.amazonaws.com/

On the java launched on my machines I'm able to connect to the WebGoat but the problem is that i have the message bellow when I click on "Lesson Plan" and "Solution" on ea

[2016-06-07 14:50] nbaars commented on #242
@ysalimi can you please paste the message? Are you logging in as adminstrator or as guest?

Thanks
--Nanne

[2016-06-13 06:00] b1rd0fb3auty14 commented on #231
Hello @mayhew64, @DarkHunterer, @nbaars - I have fixed the issue. The pull request is here: https://github.com/b1rd0fb3auty14/WebGoat-Lessons/pull/2/

Please let me know if I have put the fix in the wrong repo.

Thanks

[2016-06-13 10:40] ysalimi commented on #242
Hello @nbaars ,

Thank's for your quick reply.
The message is : Solution is not available. Contact webgoat@owasp.org

--
Best regards,
Yasser

[2016-06-16 19:14] nbaars commented on #96
Closing the issue @span fixed the button part.

[2016-06-16 19:14] #96 closed

[2016-06-16 19:15] nbaars commented on #137
Closing fixed

[2016-06-16 19:15] #137 closed

[2016-06-16 19:22] nbaars commented on #234
Think we need to update the documentation it states Java >= 1.6

[2016-06-20 15:42] mayhew64 commented on #242
@ysalimi are you getting this for every lesson or just some of them?

[2016-06-20 15:57] ysalimi commented on #242
Hi @mayhew64

I'm getting this error for every lesson.

--
Kind regards,
Yasser

[2016-06-20 21:45] span commented on #231
@b1rd0fb3auty14 Fix looks fine to me. Nice job!

You seem to have created the PR in your repo rather then in the Webgoat/Webgoat repo though. Please create a PR here as well 👍

[2016-06-20 21:45] span commented on #232
This should be closed as duplicate of #231.

[2016-06-20 22:10] span commented on #230
Nice catch @krvw.

I am also having issues with this lesson. It seems the form submission is reloading the whole page plus some extras.

After clearing the network tab in the developer tools and then submitting the form I can see all the core javascript files reloading together with the css and logo. I then also see the lessoninfo and cookies (among the others) load twice.

I'm attaching a HAR fil

[2016-06-21 02:01] misfir3 commented on #230
Another one related to the move to SPA ... have to think some more about better ways to support ones like this.

[2016-06-23 02:04] b1rd0fb3auty14 commented on #231
Thanks @span - I have the following link --> https://github.com/WebGoat/WebGoat-Lessons/pull/69

I think I did this wrong, but I don't know how to change it.

[2016-06-23 02:50] b1rd0fb3auty14 commented on #177
@mayhew64 @nbaars @span I have created the following pull request --> https://github.com/b1rd0fb3auty14/WebGoat/pull/1

Please review when able. Thanks!

[2016-06-23 21:30] span commented on #231
@b1rd0fb3auty14 The PR looks ok now. You can see the difference in where the PR is created.

The first one you created was created in your own fork: b1rd0fb3auty14/WebGoat-Lessons#2

This other one was for this repo: WebGoat/WebGoat-Lessons#69

If you look at the second PR you created you can also see where the merge is coming from and where it is going `b1rd0fb3auty14 wants to merge 2 commits int

[2016-06-23 21:37] span commented on #177
Commit looks ok to me at a glance. Nice work!

@b1rd0fb3auty14 I think you accidently created a PR at your own repo instead of at the webgoat repo. Could you submit a new PR aimed at the WebGoat repo? (See https://github.com/WebGoat/WebGoat/issues/231#issuecomment-228190202 for details)

[2016-06-27 00:32] b1rd0fb3auty14 commented on #177
Hey @span - sorry for the late response. I've had an eventful week.

Below is the pull request link: https://github.com/WebGoat/WebGoat/pull/245

Let me know if there are any questions and/or concerns. Thanks!

[2016-06-29 10:48] nbaars commented on #215
For the 7.1 release you can use the following command with the executable war:

[code]

(use the 7.1 executable jar in the above command if applicable)

This will start WebGoat on port 8081.

[2016-06-29 14:24] nbaars commented on #242
@ysalimi which version did you download from http://webgoat-war.s3-website-us-east-1.amazonaws.com/ ?

[2016-06-30 07:11] #222 closed

[2016-06-30 07:14] nbaars commented on #215
During AppSec EU there was a discussing we should not use the 8080 port as a default because it is a well-known port which might interfere with other apps (like Burp, ZAP etc).

[2016-06-30 10:48] misfir3 commented on #215
... as noted by Nanne, we discussed this. We are leaning toward port 6047 (closest number to spelling 'goat' that should not conflict with anything) :)

[2016-06-30 14:58] IWriteThings commented on #215
Changing the port is fine but the big issue is the IP. Being able to specify a different IP is much more important for those of us using WebGoat in an educational setting.

Thank you for continuing to work on these issues!

[2016-07-01 00:32] big-owl opened #247 "Compilation Error:"
Following the instructions for compiling the lessons (The Manual Way) -

Compiling the WebGoat Lessons server works just fine, but I'm having problems when compiling the lessons.

C:\Security>cd WebGoat-Lessons
C:\Security\WebGoat-Lessons>git checkout develop
Branch develop set up to track remote branch develop from origin.
Switched to a new branch 'develop'
C:\Security\WebGoat-Lessons>mvn package

[2016-07-01 02:53] b1rd0fb3auty14 commented on #247
@big-owl  - The method is not defined and/or deleted. I'll take a look. @mayhew64 @misfir3 @span

[2016-07-01 16:49] big-owl commented on #247
It appears that nbaars removed the 'defuseOSCommands' logic from WebgoatContext.java on Mar 19 (commit 181549468124bc45cf3bda78409a7390cc6ffe69), as being no longer necessary due to a change in the lesson.

Unfortunately, this method is still called from the createContent method of the PathBasedAccessControl java file.

[2016-07-02 15:20] misfir3 commented on #247
@big-owl, thanks for looking into it. @nbaars is likely incommunicado for the next week. I will see if I can patch it, but also feel free to contribute a patch reverting it and I can merge the pull request (for develop).

[2016-07-02 23:07] b1rd0fb3auty14 commented on #247
Thanks @misfir3 for the update. Let me know if you need help, I am available!

[2016-07-03 09:01] nbaars commented on #247
@b1rd0fb3auty14, @misfir3 I've deleted the method because we limited the commands which can be executed from within WebGoat(command injection lesson). I seem to have forgot this lesson it can be removed here as well. Think we should take the same approach here.

@big-owl for compilation can you comment out this lesson in the parent pom?

@b1rd0fb3auty14 are you interested in rewriting the lesson?

[2016-07-03 09:05] nbaars commented on #234
Pull request is in, issue can be closed

[2016-07-03 09:05] #234 closed

[2016-07-03 09:08] nbaars commented on #232
Pull request has been merged, fixed.

[2016-07-03 09:08] #232 closed

[2016-07-03 09:11] nbaars commented on #221
Closing seems to work

[2016-07-03 09:11] #221 closed

[2016-07-03 09:52] nbaars commented on #217
@misfir3 can you have a look?

[2016-07-03 09:54] nbaars commented on #161
webgoat-container does not exist anymore so with the next 7.1 release this issue is no longer present. Will need to test the Tomcat 8 workings

[2016-07-03 12:48] misfir3 commented on #217
Will do ... Seems you have found some internet access during your holiday, eh? ;-)

[2016-07-04 17:50] b1rd0fb3auty14 commented on #247
Hey @nbaars - Yes, I am interested in rewriting the lesson. I will take a look at the command injection code and if I have questions - I will ask you. Thanks!

[2016-07-04 22:07] victorfsf commented on #221
How can we fix this problem?

[2016-07-06 10:30] ysalimi commented on #242
Hello @nbaars,

I've tested :

- webgoat-container-7.1-SNAPSHOT-war-exec.jar
- webgoat-container-7.1-SNAPSHOT.jar

--
Best regards,
Yasser

[2016-07-06 17:35] misfir3 commented on #240
Experienced the same error with 7.1-SNAPSHOT (develop branch) ... temporarily restored isDefuseOSCommands to WebGoatContext.java. Will need to revisit this later. Leaving this issue closed.

[2016-07-07 03:01] b1rd0fb3auty14 commented on #247
Hey @nbaars - Should the PathBasedAccessControl be similar to this lesson: https://github.com/WebGoat/WebGoat/issues/179?

[2016-07-09 17:24] nbaars commented on #247
@b1rd0fb3auty14 Should the PathBasedAccessControl be similar to this lesson: #179?
Indeed that lesson used the same command and was rewritten.

[2016-07-09 17:44] nbaars commented on #235
The NoClassDef  exception is not the root cause. There is some static piece of code in this class which will try to init the database. This probably fails and therefore the class cannot be loaded. Think this has something to do with the h2 db initialization.

@SpyrosMArtel can you try to put a breakpoint in the UserDatabase class in the open() method?

[2016-07-09 17:48] nbaars commented on #209
@krvw The write-up would be great, thanks. The goat-hills financial base classes are situated in goat-hills-financial project. Every lesson at the moment subclasses a particular class if necessary to change behavior.

[2016-07-09 17:56] nbaars commented on #182
The lesson used to work with a stored procedure.  The Login_i.java gives one for Oracle and SqlServer there seems to be no equivalent for HSQLDB

[2016-07-10 09:07] SpyrosMArtel commented on #235
Hello @nbaars,
I set a breakpoint in the `open()` method [`UserDatabase` class] on the remote server but the debugger is not hitting it (like the code is never executed).

[2016-07-15 08:25] dlloydkirch commented on #234
I'm having this same issue -

# java -jar webgoat-container-7.0.1-war-exec.jar
Jul 15, 2016 3:51:32 AM org.apache.coyote.http11.Http11Protocol init
INFO: Initializing ProtocolHandler ["http-bio-8080"]
Jul 15, 2016 3:51:32 AM org.apache.catalina.core.StandardService startInternal
INFO: Starting service Tomcat
Jul 15, 2016 3:51:32 AM org.apache.catalina.core.StandardEngine startInternal
INFO: Starti

[2016-07-15 08:52] dlloydkirch opened #248 "Starting ProtocolHandler ["http-bio-8080"]"
This is similiar to issue"Application won't start #234" but I think its a different issue.  Basically, its been running for about an hour and this is the current terminal --
# java -jar webgoat-container-7.0.1-war-exec.jar

Jul 15, 2016 3:51:32 AM org.apache.coyote.http11.Http11Protocol init
INFO: Initializing ProtocolHandler ["http-bio-8080"]
Jul 15, 2016 3:51:32 AM org.apache.catalina.core.Stand

[2016-07-15 08:52] dlloydkirch commented on #234
Sorry, I opened a new issue because this one is closed, issue #248

[2016-07-16 03:10] TobinShields commented on #248
Hey there, I am a teacher who is wanting to use this application suite to work through pen testing labs with my students. If I can get it up and running, then this will be a GOLD MINE.

I am having _nearly_  the exact same issue as you. I am trying to install WebGoat 7.0.1 on a fresh installation of Kali in a VM.  I also just updated my version of Java to 1.0.8_91 (verified using the java -version

[2016-07-16 05:34] dlloydkirch commented on #248
Just an update -

I have tried changing the port and leaving it running over night with no success.  At the point I get the message "INFO: At least one JAR was scanned for TLDs...." I am able to go to http://localhost:8080/WebGoat and run some of the tutorials, but I can't use WebScarab or anything else needs a proxy.

[2016-07-17 01:10] dlloydkirch commented on #248
So I was able to run some exploits even with the terminal I was using to install WebGoat was stuck at this point.  I just left it running in the background.  I used quite a few outside tools and took some tinkering to figure out problems that came up.

I guess it is working, although I haven't completely explored all the lessons so it could still be a problem.  I'll leave closing this issue to som

[2016-07-17 13:29] nbaars commented on #248
* The message ``INFO: At least one JAR was scanned for TLDs...`` is normal I also have this on my installation, it is just an info message not a problem.

I also tried on a new Kali Linux download and downloaded the WebGoat exec jar. Running it with a Java 7 VM works (no Java 8 necessary for 7.0.1 version). We should probably turn the debug logging off when we ship a new release (or separate loggi

[2016-07-17 15:23] nbaars commented on #237
Pull request available, see WebGoat-Lessons. @WebGoat/admins can somebody merge review and merge the pull request.

[2016-07-18 04:20] dlloydkirch commented on #248
It seemed to work fine for the lessons I worked on.  I guess it was just confusing that there wasn't any sort of "complete" message or indication that the install went fine.  Thanks for your help

[2016-07-18 13:24] misfir3 commented on #237
Not seeing any pull requests in WebGoat-Lessons ... got tired of waiting for me? ;-)

[2016-07-23 11:33] nbaars commented on #237
@WebGoat/admins sorry forgot to create the pull request in Github is available now

[2016-07-23 15:25] ggggtttt commented on #235
Hi Gents,

any idea how to fix this issue?

[2016-07-26 04:41] nbaars commented on #215
WebGoat now starts running on an embedded Tomcat server which will give the opportunity to change the server address and the port number.

Solved, see feature/portnumber (almost done)

[2016-07-26 04:44] nbaars commented on #248
Indeed the start message is not shown. With the fix of #215 a clear message will be printed in the console. See feature/portnumber (almost done)

[2016-07-26 04:46] #177 closed

[2016-07-26 04:48] nbaars commented on #161
Also in version 7.1 (fix release) we do not use this API anymore. So it should run on Tomcat 8. (see branch feature/portnumber)

[2016-07-26 17:43] nbaars opened #249 "Create tutorials / movies for WebGoat 7"
We should think about adding some movies/tutorials for WebGoat:
- Installing / running it
- Walkthrough of the options
- Basic proxy setup with Burp / ZAP
- .....

There are some on YouTube but most of them are on the old version.

[2016-07-27 17:17] Mungoid commented on #237
Would something like this be better if it were a little more generalized? Like possibly radio buttons for each with a range of answers kind of like: "Less than a second", "Less than a minute", "Less than a day", "Many Days", "Many Years", etc?

Im sure that password security site doesnt update its calculations often, but I would imagine this exercise will have to be changed every time it does.

[2016-07-28 20:43] misfir3 commented on #242
This appears to be related to 'stages' and it also appears to be happening at load time.
@nbaars - I think when we looked before, we spot-clicked and didn't hit any lab stages in the process.

So, I tinkered with some debug statements in Course.java#loadLessonFromPlugin around
`if (plugin.getLessonSolution("en").isPresent()) {
                    lesson.setLessonSolutionFileName(plugin.getLessonSo

[2016-08-01 19:34] fhauser84 opened #250 "webgoat_developer_bootstrap.sh not working with Ubuntu (sh = dash)"
Hi there,

first of all amazing work on this project. It makes a lot of fun to use your tool.

I wanted to follow your instructions on downloading/building the webgoat by myself for solving the developer challenges as well.
You provide a shell script called **webgoat_developer_bootstrap.sh** which should be executed by `sh webgoat_developer_bootstrap.sh`.

Unfortunately, in **Ubuntu 14.04 LTS** fo

[2016-08-12 09:09] kjarnet opened #251 "Executable jar crashes if empty .extract folder exist"
If an empty/faulty .extract folder exist where you execute the jar (e.g. from a previous failed attempt), you get a FileNotFoundException looking for .extract/webapps/WebGoat.war. This caused me a lot of headache finding out, and would be nice if it could be documented or fixed.

[2016-08-22 12:48] mayhew64 commented on #237
I think this is a good suggestion.

[2016-08-24 13:14] stebiger opened #253 "LAB: SQL Injection GET instead of POST?"
Hey,

I am currently looking at the sql injection lab and was noticing that the stage 1 - 3 all use a HTTP GET request instead of a POST.
Therefour the learned injection attack is not working - is there something broken with webgoat 7 or is it on purpose?
Unfortunately the solution can also not be displayed.

[2016-08-24 13:49] misfir3 commented on #253
With some of the modernization we've done with WebGoat, it's technically by design, but has some implications such as this.  There is a way to make it work as a POST per Lesson.  Also something we plan to carry forward and improve.  Which SQLi lesson exactly is this on?  I know the standard String SQL Injection lesson works (as I used it recently).

Thanks for reporting it!

[2016-08-24 14:01] stebiger commented on #253
I don't see a "real" problem by having it intended to be a GET request - unfortunately I have no idea how to bypass it then with a get parameter - I think encoding of the value plays a role.
Yet I am unsure if it is intended to be that way or not

[2016-08-24 16:38] misfir3 commented on #253
True ... still, we want to provide the capability to allow lessons to set the method for submission while maintaining ease of authoring (main focus of our efforts in new development right now)

[2016-09-02 03:36] remrobem opened #254 "Copy lessons into plugin_lessons"
On the https://github.com/WebGoat/WebGoat page,

I am trying to install on Windows 10,
cp target/plugins/*.jar ../WebGoat/webgoat-container/src/main/webapp/plugin_lessons/
does not work.
This seemed to work:
xcopy "target\plugins\*.jar" "C:\WebGoat\webgoat-container\src\main\webapp\plugin_lessons\"

[2016-09-02 11:26] mayhew64 commented on #254
Yes. cp is a UNIX command. Thanks, I'll update for Windows. We're there any other gotchas?

[2016-09-02 11:57] remrobem commented on #254
I don't think so. I didn't have much time to get into it. But I did notice
the solution was missing on one lesson I looked at. I was expecting it to
show the code change to fix it but my expectations might be wrong. I still
need to read up on it this weekend and play around with it. Thanks for all
your efforts on this.

Rob

On Fri, Sep 2, 2016, 07:26 Bruce Mayhew <notifications@github.com> wrote:

[2016-09-02 18:01] nbaars commented on #251
@kjarnet Added this to the FAQ, see https://github.com/WebGoat/WebGoat/wiki/FAQ#exec-war
Thanks for the input!

[2016-09-02 18:01] #251 closed

[2016-09-02 18:26] nbaars commented on #253
@stebiger: tested the bypass of the login and it still works, indeed it is no longer a POST but a GET. You can change the password when you tamper the data (don't use a space)

[2016-09-02 18:42] nbaars commented on #253
Fixed the hints and remove the spaces.
@stebiger I'm still able to bypass the login page when I intercept the 'GET' request and copy & paste the hint.

[2016-09-03 13:32] stebiger commented on #253
@nbaars thanks - after thinking about the way the get works and will encode parameters I was able to solve the lab.
Anyhow thanks for working on the issue :-)

[2016-09-04 01:32] b1rd0fb3auty14 commented on #249
@nbaars I can help with this. What do I need to do?

[2016-09-04 03:10] b1rd0fb3auty14 commented on #247
@nbaars I am a bit confused. With commit #179 the different commands were in the file. In the PathBasedAccessControl.java file I do not see the commands listed in the file. Are these commands stored in an outside document?

Also, to ALL this might sound dumb, but I have the WebGoat and WebGoat lessons project installed in NetBeans. I want to know how I can verify that my local changes were properl

[2016-09-06 20:13] lvernaillen commented on #253
Actually, this problem is not restricted to the SQL Injection lab.
**ALL** forms I checked are using GET although the form tag specifies method="POST"!
I attached a screenshot proving it for the very first lesson: "General - Http Basics".
But it has this issue for the other forms as well.

If I add a simple html file with a form with post method, it works as expected. Only the Webgoat pages contai

[2016-09-07 19:59] nnh100 opened #255 "LAB: Role Based Access Control"
Hi,

I have installed the Developer version (using webgoat_developer_bootstrap.sh) and can get to most lessons fine but when I try to open the Access Control Flaws -> LAB: Role Based Access Control I get the following error:

Error Message: javax.servlet.ServletException: File "/plugin_extracted/plugin/RoleBasedAccessControl_i/jsp/RoleBasedAccessControl_i.jsp" not found

I have tried cloning the l

[2016-09-09 17:12] nbaars commented on #215
Merged to develop, see README.md of webgoat-standalone project

[2016-09-09 17:20] nbaars commented on #254
Updated the documentation for Windows.

[2016-09-09 17:20] #254 closed

[2016-09-11 18:55] nbaars commented on #194
Fixed for the 7 release. The screenIds are now always the same.
Making it work with the names of the lessons required too many changes. The way we address a lesson will significantly change in release 8.

For now this will make sure we can write some tests and it allows testing tools to have a go at WebGoat.

Available on the develop branch.

[2016-09-11 18:58] nbaars commented on #253
@lvernaillen correct, for the 7.1 release I've changed it to a POST. It is available on the develop branch.
I've tested a couple of lessons and it seems to work fine. But we will have to put more effort into testing the lessons.

[2016-09-12 19:20] nbaars commented on #247
Solved, lesson also needed some adjustment level limit was too low

[2016-09-12 19:24] nbaars commented on #242
Tested this with the SQL injection lesson which has stages, but in my opinion it works. Only the lesson plan is available for this lesson so there is no lesson solution to show. The messages is indeed correct.
Btw all the GoatHills derived lesson do not have a solution.

Closing this one, we can always reopen this issue.

[2016-09-12 19:24] #242 closed

[2016-09-12 19:27] nbaars commented on #75
See #215 in which we fixed this issue. The standalone Tomcat replaces the embedded one, this one reports the url after the fact.

[2016-09-12 19:27] #75 closed

[2016-09-12 19:56] nbaars commented on #253
Same issue was reported in #144 there was a solution provided by @felipedeboni

[2016-09-12 19:56] nbaars commented on #144
Applied the fix above provided by @felipedeboni

[2016-09-12 20:01] b1rd0fb3auty14 commented on #247
@nbaars - can you provide the commit link for this? I had a proposed solution and wanted to see if I was on the right path. Thanks!

[2016-09-14 20:19] RubieV opened #258 "Code does not compile on dev branch"
During testing of unit testing of the CI server, Maven fails at:

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.1:compile (default-compile) on project path-based-access-control: Compilation failure: Compilation failure:
[ERROR] /home/travis/build/WebGoat/WebGoat/WebGoat-Lessons/path-based-access-control/src/main/java/org/owasp/webgoat/plugin/PathBasedAccessControl

[2016-09-14 20:24] b1rd0fb3auty14 commented on #258
https://github.com/WebGoat/WebGoat/issues/247

refer to the link above

[2016-09-14 21:00] RubieV commented on #258
Closed in favor of #247

[2016-09-14 21:00] #258 closed

[2016-09-14 21:07] RubieV commented on #247
When the patch is applied, please merge the dev branch to the two outstanding PRs #256 and #257 that cleanup parts of the code base for better readability and testability.

I believe that when WebGoat commits to clean code, the community will be more active and boast new development!

Keep up the great work of improving code! Happy to help alongside with Stefan Michielse to work on a couple of int

[2016-09-14 21:09] RubieV commented on #247
About NetBeans: running the Maven tests will test your local code for compilation errors and will run the unit tests. The integrated version control can be used to commit parts of code changes and push them.

[2016-09-14 21:24] RubieV commented on #247
@StefanMichielse adding you in!

[2016-09-15 07:56] jetweelim commented on #249
i have a playlist on this. hope it helps.

https://www.youtube.com/playlist?list=PLrHVSJmDPvlonRjsBirl5Ch5ejTGRNWBd

best regards,

[2016-09-15 21:53] nbaars commented on #258
Fixed, Travis build script was using the master branch of WebGoat-Lessons instead of develop.

[2016-09-15 21:55] nbaars commented on #247
Fixed, Travis build script was using the master branch of WebGoat-Lessons instead of develop.

@RubieV thanks for the help, for some integration tests you can take a look at WebGoatIT.java

[2016-09-17 19:38] nbaars commented on #230
Added testcase, lessons works.

[2016-09-17 22:37] nbaars commented on #227
Checked the lesson and the stage 2 can be completed by clicking the link. Think we can close this one.

[2016-09-18 03:56] b1rd0fb3auty14 commented on #249
Thank you for the response @jetweelim.
@nbaars - If you want something similar to what @jetweelim has posted then I can do that with:
1. Installing WebGoat
2. Using Zap Proxy
3. Walkthrough of options

Let me know. Thanks!

[2016-09-18 18:11] nbaars commented on #249
@b1rd0fb3auty14 great! the ones you propose would be perfect for people to get started with WebGoat.

[2016-09-19 01:27] b1rd0fb3auty14 commented on #249
thanks @nbaars for the response! I am getting a weird error when I try to download the easy jar: https://s3.amazonaws.com/webgoat-war/webgoat-standalone-7.0.1-exec.jar

I am getting the following error:
<Error>
<Code>NoSuchKey</Code>
<Message>The specified key does not exist.</Message>
<Key>webgoat-standalone-7.0.1-exec.jar</Key>
<RequestId>55B2E188F31B58A4</RequestId>
<HostId>
voEm2+pmqwbw1pAufy3

[2016-09-19 01:28] b1rd0fb3auty14 commented on #249
"<Error>
<Code>NoSuchKey</Code>
<Message>The specified key does not exist.</Message>
<Key>webgoat-standalone-7.0.1-exec.jar</Key>
<RequestId>55B2E188F31B58A4</RequestId>
<HostId>
voEm2+pmqwbw1pAufy3jx3e/a3/s9J/MWhahTQCrybopkCMGRTycTi8XfGiGm6jsG0QdSt8i6Hw=
</HostId>
</Error>
"

[2016-09-19 01:28] b1rd0fb3auty14 commented on #249
<Error>
<Code>NoSuchKey
<Message>The specified key does not exist.</Message>
<Key>webgoat-standalone-7.0.1-exec.jar</Key>
<RequestId>55B2E188F31B58A4</RequestId>
<HostId>
voEm2+pmqwbw1pAufy3jx3e/a3/s9J/MWhahTQCrybopkCMGRTycTi8XfGiGm6jsG0QdSt8i6Hw=
</Error>

[2016-09-19 10:42] lokori opened #259 "Amazon S3 downloadable JAR is missing"
The executable JAR is not available at the S3 Bucket as advertised: https://s3.amazonaws.com/webgoat-war/webgoat-standalone-7.0.1-exec.jar is missing.

[2016-09-20 17:41] krvw opened #260 "Developer edition build isn't working in its entirety"
Greetings WebGoat team,

Hey, I use WebGoat 7.1 (latest) a lot. In the past, I've followed the instructions on the main page for cloning the two git trees and building the system. Today, I see that things compile and build, but I'm only seeing a small subset of the lessons show up in my jar file. Many of the lessons are missing (e.g., sql-injection, stored-xss...).

Did something major change and

[2016-09-20 18:13] misfir3 commented on #260
what do you see when you
$git branch
... in each directory? And ...
$ git status

[2016-09-20 22:39] krvw commented on #260
OK, so I've gone back now and cleanly rebuilt my entire WebGoat env. It built fine, and all exercises are present, so this was probably pilot error on my part.

What still baffles me, though, is what went wrong. I ran the same script I always do, but when I run the build commands (per the instruction page), all worked.

So, it's no doubt my fault. Sorry for the false alarm.

Cheers,

Ken

[2016-09-21 14:21] misfir3 commented on #260
Personally, I'd blame maven. But that's just me ... :)

[2016-09-21 14:21] #260 closed

[2016-09-22 05:58] #209 closed

[2016-09-22 14:40] nbaars commented on #255
I think this is due to the fact that the _i.class files are also packaged in the jar. Those might be picked up as well. Fixed this by excluding the *_i.java in the compiler plugin.

[2016-09-22 20:06] nbaars commented on #255
Fixed, on develop branch

[2016-09-23 08:21] ashutoshn007 opened #261 "Unable to download webgoat jar file"
Hi

Please let me know from where can I download the latest release file.

Thanks

Ashutosh

[2016-09-23 20:32] nbaars commented on #261
Hi @ashutoshn007 you can find the war files at the following location: http://webgoat-war.s3-website-us-east-1.amazonaws.com/

Kind regards,
Nanne

[2016-09-23 20:32] #261 closed

[2016-09-23 20:36] nbaars opened #262 "Add Vagrant for developers and users"
The Vagrant provisioning should:
- For developers which creates a Virtualbox image (Linux)
- For users which enables them to easily start a container inside a Virtualbox image

[2016-09-30 13:10] nbaars opened #263 "Add new lesson for XXE"
A new lesson for XXE should be added to WebGoat.

[2016-09-30 13:13] nbaars commented on #263
Lesson is now available, see xxe

[2016-10-02 14:19] misfir3 commented on #263
Pulled it. Noted the double-call and some other conflicting issues with the SPA set-up.  Looking to modify the the Ajaxification (w/o breaking everything else 😄 ) ... to make it more flexible to support lessons  like this (which will be important in 8+) and make this one work better for 7.1.

[2016-10-04 11:20] MahendharReddy commented on #248
Did you get a solution for this problem?

[2016-10-09 01:53] misfir3 commented on #263
For this next 'maintenance' release, should make the return content, an html fragment like the other lessons to avoid extra work on the client to accommodate the json return type.

[2016-10-09 16:18] b1rd0fb3auty14 commented on #259
Was progress made on this issue? I have another issue that I am working on - creating tutorial videos for OWASP and I wanted to use the standalone jar. @nbaars @mayhew64 @misfir3

[2016-10-11 10:37] nbaars commented on #259
webgoat-standalone*-exec.jar is part of the 7.1 release and is at the moment only available in the develop branch. The S3 bucket only contains the master releases. We will release a new release so this file will appear when develop is merged to master.

For 7.0 you can use: webgoat-container-7.0-SNAPSHOT-war-exec.jar

If you want to run the new standalone jar you need to checkout the develop branc

[2016-10-11 10:37] #259 closed

[2016-10-11 12:37] b1rd0fb3auty14 commented on #259
Thanks for the prompt response, @nbaars!

[2016-10-11 20:44] misfir3 opened #265 "Provide Server-side service to support UI localization"
Implement a simple map/service to provide localizations for UI labels

[2016-10-11 20:51] misfir3 opened #266 "Implement localization for UI labels"
Implement general js support (model) & implement labels in UI with localized labels

[2016-10-11 20:52] misfir3 opened #267 "Provide language switcher in UI"
Up with user, about and other other buttons (upper right), provide a language switcher control.

[2016-10-23 09:29] Kirupakaran opened #268 "Lesson plans not loading with manual build and easy-run jar (standalone jar) not running at all"
I built WebGoat latest version 7.1 from sources  with the instructions on the readme with java 1.8.0.77 on a windows machine.

I'm not able to start the server with option 2 (generating jar file). I also tried with easy-run jar which also fails to run with same error.

Error is:

[code]
I was able to start with the server with option 1:
mvn -pl webgoat-container tomcat7:run-war

But, In the main p

[2016-10-23 09:33] Kirupakaran commented on #268
Current release build 7.0.1 working fine.

[2016-10-29 15:08] #268 closed

[2016-10-29 15:09] Kirupakaran commented on #268
Sorry, I didn't copy lesson jars to plugin-lessons/

[2016-11-06 04:34] misfir3 opened #269 "Update LessonMenuService to provide proper status"
Looked into the UI update issue. It is reading the lesson's returned status as completed in the JSON response. This triggers a refresh on the MenuView appropriately.

The LessonMenuService is showing the lesson complete status as false. That service is still wired up to the 'WebSession', which may be why.

@nbaars, let's discuss how we want to move this forward.

[2016-11-15 08:30] nbaars commented on #269
solved there was a typo in the js file (lessonComplete whereas the json passed lessonCompleted). The UI now gets automatically updated after you solve the lesson completely

[2016-11-15 09:24] nbaars opened #271 "Reset lesson does not work anymore"
It seems to route to undefined:undefined. The new structure of loading a lesson through for example `HttpBasics.lesson` has not yet been applied to the reset function in `LessonController.js`

[2016-11-15 09:25] nbaars commented on #271
Fixed the LessonController.js, improved the RestartLesson endpoint as well there is no need to pass the link back from the endpoint because the controller already knows which lesson it should reload.

[2016-11-15 09:25] #271 closed

[2016-11-15 11:45] nbaars opened #272 "Fix lesson client side filtering"
1) JavaScript can use some love and attention
2) The lesson code (Java) still produces html tags with ECS

[2016-11-15 11:45] nbaars commented on #272
Fixed 1

[2016-11-15 12:45] misfir3 commented on #269
had changed that locally as well, but didn't get/see the updates ... will check in a little later.

[2016-11-15 21:11] IceGiant commented on #235
Hitting this same issue running in a Windows 10 environment running from the 7.0.1 binary

[2016-11-15 21:42] nbaars commented on #272
Also fixed part 2

[2016-11-15 21:42] #272 closed

[2016-11-16 01:57] misfir3 commented on #269
See screenshot. The initial response indicates the lesson is completed, but the lessonMenuService when it responds indicates that lesson is not complete.
![image](https://cloud.githubusercontent.com/assets/5103241/20331735/54a0d356-ab75-11e6-9ee3-98f7cd14b68e.png)

As an aside ... even when I do only the first assignment in the HttpBasics Lesson, the JSON response indicates `lessonCompleted:true`

[2016-11-16 14:20] MGTHEBOSS opened #273 "Lessons are unavailable"
I downloaded `webgoat-container-7.0.1.war` file from the `releases` page, renamed it to `WebGoat.war`, and moved it to `$CATALINA_HOME/webapps`. I can log in from `localhost:8080/WebGoat/attack`, but after I log in I don't see any lessons on the left. I have checked `#32`, `#242`, `#254`, & `#268`. The jar files are in `plugin-lessons`. The URL `http://localhost:8080/WebGoat/service/lessonmenu .mv

[2016-11-17 13:38] mayhew64 opened #274 "Category click should load a static category page."
In addition to opening the lesson menu the category click should load a page defining the category of problem.  We could do something simple like have a pass through to another site or custom content.  For example for injection flaws:

++++
<p>
Content in a passthrough block is passed to the output unprocessed.
That means you can include raw HTML, like this top ten page:
</p>

<script src="https:/

[2016-11-17 13:47] mayhew64 opened #275 "asciidoc code coloring"
sql-injection/src/main/resources/plugin/SqlInjection/lessonPlans/en/SqlInjection_content9.adoc  has code coloring syntax which is being ignored.

[2016-11-17 13:52] misfir3 commented on #160
May be a good issue for new devs coming on to try their hand at

[2016-11-17 13:58] mayhew64 opened #276 "Automatic lesson summary page"
At the end of each lesson on the final pagination a summary view should load.

You have completed SQL Injection
attack 1 - success
attack 2 - failed
attack 3 - success

Where the attack name should be taken from the attack endpoint.

[2016-11-17 14:04] misfir3 commented on #276
let's chat (after this next week) about how we want to implement this ... a fixed (summary) endpoint for each lesson? Level of detail? ... ???

[2016-11-17 14:29] misfir3 opened #277 "Re-institute admin functionality for WebGoat 8"
Screen to allow admin user to view
* User lesson completion
* Other things we want to implement here?

[2016-11-17 15:42] nbaars opened #278 "Each assigment should have the options to have its own set of hints"

[2016-11-17 16:28] misfir3 opened #279 "Document customized js support for packaging data on form submission, provide example"
Likely this will be part of our template lesson, but putting a place holder here for now to not forget it.

[2016-11-18 11:52] jitsoftdeveloper opened #280 "WebGoat-standalone-7.1.jar = Invalid Session"
I have downloaded "webgoat-standalone-7.1-SNAPSHOT-exec.jar" [https://s3.amazonaws.com/webgoat-war/webgoat-standalone-7.1-SNAPSHOT-exec.jar](url) in kali linux virtual machine, everything setup correct but when i try to login in browser after entering username & password it says "invalid sessions". How can i correct this error ? please tell me

[2016-11-19 14:29] jitsoftdeveloper commented on #280
Can't anyone help me ?

[2016-11-20 01:19] misfir3 commented on #280
Same error message has happened before (see https://github.com/WebGoat/WebGoat/issues/44). Can you provide the url you are seeing when this happens?

[2016-11-20 08:03] nbaars commented on #280
@jitsoftdeveloper please download the official released version from the this location: https://github.com/WebGoat/WebGoat/releases/download/7.0.1/webgoat-container-7.0.1-war-exec.jar

[2016-11-20 16:34] span commented on #273
Would you mind trying again with the new 7.1 release. Could you also try to login as both guest and admin to se if there is a difference in behaviour?

[2016-11-20 16:58] span commented on #225
I'm looking at Insecure Communications -> Insecure Login and I can't see any button with a `Refresh` action here. Is it missing in 7.1?

[2016-11-20 17:57] span commented on #262
Download of IntelliJ from https://download.jetbrains.com/idea/ideaIC-2016.2.4.tar.gz fails on develop:

[code]

The new download link is `https://download.jetbrains.com/idea/ideaIC-2016.2.5.tar.gz`. Updating the provision script with this link works fine.

Although I love IntelliJ I can't see that we would be able to keep this script updated with the latest versions. Is there an archive at jetbrai

[2016-11-20 19:56] span commented on #247
When working on the vagrant setup process I was attempting to use the `master` branch instead of develop since these would be more stable. I then noticed that the master branch of WebGoat-Lessons was throwing this error even when building towards the `master` branch of WebGoat (the lesson server).

Surely, the branches should be matching. Did you have a previous commit that solved this @nbaars? Wo

[2016-11-20 19:59] span opened #281 "Master branch mismatch"
The pom.xml in WebGoat-Lessons `master` still points to the snapshot build for 7.1. There is also #247 which prevents a clean build of both `WebGoat` and `WebGoat-Lessons` using the `master` branch.

[2016-11-20 21:23] span commented on #93
Started to review this oldie again to try and improve the plugin reload. I am currently struggling to get the reload of the lessons to actually work. The output from the tomcat is claiming everything is reloaded but I don't see any GUI updates nor updates on for example cookie name in the "spoof auth cookie" lesson.

Will keep investigating what is going on here.

[2016-11-20 22:42] #144 closed

[2016-11-20 22:42] #154 closed

[2016-11-20 22:42] #161 closed

[2016-11-20 22:42] #169 closed

[2016-11-20 22:42] #194 closed

[2016-11-20 22:42] #215 closed

[2016-11-20 22:42] #227 closed

[2016-11-20 22:42] #230 closed

[2016-11-20 22:42] #231 closed

[2016-11-20 22:42] #237 closed

[2016-11-20 22:42] #247 closed

[2016-11-20 22:42] #248 closed

[2016-11-20 22:42] #250 closed

[2016-11-20 22:42] #253 closed

[2016-11-20 22:42] #255 closed

[2016-11-20 22:42] #262 closed

[2016-11-20 22:49] nnh100 commented on #255
Hi @nbaars, sorry I didn't get round to testing the fix but thanks for looking into it.

[2016-11-21 11:59] MGTHEBOSS commented on #273
@span I tried with the new 7.1 release and got same results. In the case of admin, I see some extra options but not the lessons.
![screenshot](https://cloud.githubusercontent.com/assets/3612991/20481974/ee160210-b00f-11e6-9ed2-086e166d60ba.jpg)

[2016-11-21 13:03] mayhew64 commented on #273
Which Browser are you Using? I have had troubles with chrome and 7.0.1exhibiting the missing lessons.

[2016-11-21 13:32] MGTHEBOSS commented on #273
@mayhew64 I am using Iceweasel.

[2016-11-21 14:48] dougmorato commented on #281
All pre-conditions met for closing the issue.

Master branches now point to stable WebGoat 7.1

[2016-11-21 14:48] #281 closed

[2016-11-21 14:50] dougmorato opened #283 "Update MASTER branch README"
Given the new release, we need to update the README file for the MASTER branch with the updated links and instructions

[2016-11-21 14:51] dougmorato opened #284 "Update DEVELOP branch README"
Given the new release, we need to update instructions and links on the DEVELOP branch

[2016-11-21 15:11] dougmorato commented on #273
He is right..... exec.jar is working as expect.  WAR file seems not to be working.

I am investigating why, as they were both generated ad same time

[2016-11-21 15:13] #159 closed

[2016-11-21 15:14] #20 closed

[2016-11-21 15:24] dougmorato commented on #249
Also found some interesting link: http://webappsecmovies.sourceforge.net/webgoat/

[2016-11-21 15:26] dougmorato commented on #249
@nbaars @mayhew64 @misfir3 We should discuss if this should be included in "lesson solution" under the UI

[2016-11-21 15:31] dougmorato opened #285 "Remove old JSP content"
There are still some old JSP content that should be removed/ported by 8.0 release

webgoat_challenge.jsp
wegoat.jsp
sideWindwo.jsp
reportBug.jsp
main.jsp
lesson_content.jsp
index.jsp

[2016-11-21 17:18] span commented on #273
Interesting. I downloaded the 7.1 vesion and the latest tomcat last night and I got it working immediately with the 7.1 from the release page. I was on a Mac using Firefox and Chrome.

[2016-11-21 17:22] span commented on #281
Actually the merge is still missing in #247 so this is still not working all the way. I am not sure why @nbaars closed it.

[2016-11-21 17:28] span commented on #247
I am still having this issue in the master branch.

[code]

[2016-11-21 22:14] span commented on #274
I have had a brief glance at this and perhaps we can add a template/html-file to each `Category`. Will dig around a bit and see if any better ideas come up.

[2016-11-21 23:52] misfir3 commented on #274
At a basic level, we should add a route for it and have that click handle/navigate to the route

[2016-11-22 21:36] span commented on #274
Oh absolutely. I just feel weird to hardcode templates into the front-end since we are defining categories in the back-end. However, if you have no issue with keeping the back-end out of it for now I don't mind (_although it itches_ :P)

[2016-11-24 21:46] span commented on #274
Hmm, not sure I understand the scope of this any more :P

I've added href's to the categories based on their ID and ending with `.category` to keep consistency with the lessons.

I've added a route that handles these clicks with a new `CategoryController` that is passed a `CategoryView` and instantiates a `CategoryModel` (the same flow as for the lessons).

Now, I was hoping to be able to store `.

[2016-11-24 22:07] nbaars commented on #285
seems to be fixed already

[2016-11-24 22:07] #285 closed

[2016-11-25 03:11] jitsoftdeveloper commented on #280
Thank you so much, new version is working perfectly fine

[2016-11-25 03:28] #280 closed

[2016-11-25 03:29] jitsoftdeveloper commented on #280
Thank you so much, latest version is working perfectly fine

[2016-11-25 08:24] nbaars commented on #276
It can be one endpoint. In the lesson tracker we know exactly the list of assignments and if they were successful or not. The overview can be generated from this page.

Extra feature: the overview should link to the new mechanism of getting to a specific screen. So http://localhost/WebGoat/SqlInjection.lesson/4
so users can easily jump to the attack they did not yet complete.

[2016-11-28 13:48] misfir3 commented on #274
Sounds like a good approach overall on it and extends the existing pattern.  Will have to look into this later, maybe pick @nbaars  brain some

[2016-11-30 17:36] vdbaan commented on #284
Current instructions break webgoat, I would relabel it from enhancement to something more critical as no new developers can build this environment.

[2016-12-01 15:00] zupzup commented on #266
Hey,

I'd like to try myself at this if I may. I did some analysis in order to come up with an attack plan for this issue and came up with some questions, which would probably have to be answered before starting:

**On plugins:**
One issue which I already encountered somewhat in https://github.com/WebGoat/WebGoat/issues/265 was that currently, plugins are not properly localized, as they only use t

[2016-12-01 15:06] zupzup commented on #160
I'd like to take this if that's ok

[2016-12-01 15:53] misfir3 commented on #160
Sure ... some more specifics
* If an existing page calls in and gets the response for not authenticated, we want to redirect _top to the main login page.
* For the others, provide an appropriate message.  I'd prefer a 'toaster' type message over an alert/dialog, but dialog on first pass is OK.

[2016-12-01 21:50] misfir3 opened #290 "Remove really old docs from OWASP Wiki"
At least this one ... pretty old! Should do it by WebGoat 8 release.

https://www.owasp.org/index.php/WebGoat_User_and_Install_Guide_Table_of_Contents
https://www.owasp.org/index.php/WebGoat_Installation

[2016-12-02 17:01] nbaars commented on #263
Part of 8.0

[2016-12-02 17:01] #263 closed

[2016-12-02 17:08] #179 closed

[2016-12-02 17:10] nbaars commented on #235
Old issue, rewritten in version 8.0. Not reported in 7.1 as well

[2016-12-02 17:10] #235 closed

[2016-12-02 17:14] #160 closed

[2016-12-03 00:40] b1rd0fb3auty14 commented on #290
Hey @misfir3 - I can work on this! Is the WebGoat 8 release ready to develop?

[2016-12-04 00:59] misfir3 commented on #290
Yes, needs to update for WebGoat 8. develop branch is now 8.0-SNAPSHOT

[2016-12-04 16:35] honk3x opened #292 "mvn package Output not going to target/plugins"
I'm pretty new to opensource tools/JAVA. However, I pulled down the project through git about a month ago and was able run the project on tomcat without a ton of issues. I deleted everything and wanted to start fresh, now every time I get to the step below on the "Developer's Way" instructions:

**(linux)   cp target/plugins/*.jar ../WebGoat/webgoat-container/src/main/webapp/plugin_lessons/**

Not

[2016-12-05 13:00] misfir3 commented on #284
I did a quick update of this, but had to include -DskipTests temporarily (and noted as much). @nbaars is going to look at the breakage (w/o skipping tests) later.

Apologies and thanks @vdbaan

[2016-12-07 00:59] klebertiko commented on #292
Hi @honk3x

I just did like this:

git clone https://github.com/WebGoat/WebGoat.git
git checkout develop
git checkout -b 7.1
git checkout tags/7.1
cd WebGoat
mvn clean compile install

git clone https://github.com/WebGoat/WebGoat-Lessons.git
cd WebGoat-Lessons
git checkout develop
mvn package
cp target/plugins/*.jar ../WebGoat/webgoat-container/src/main/webapp/plugin_lessons/

URL: http://localhos

[2016-12-07 14:01] misfir3 commented on #292
Those instructions will work for the 7.x build/releases.

We have moved the develop branch now to the 8.0-SNAPSHOT, but were slow updating the README (and it still needs some more work ... apologies!)

@honk3x  - 8.0 is still in major transition/work. 7.x is more stable. What's your goal with WebGoat?

[2016-12-07 14:09] misfir3 commented on #284
Did some more patch updates, but we need to differentiate (and check) 7.x and 8.x links and notes.

[2016-12-07 17:37] misfir3 opened #293 "Images in AsciiDoc"
Currently adding images in *.adoc (e.g.) files creates an error ...

In *.html file
`<div class="adoc-content" th:replace="doc:HttpBasics_ProxyIntro2.adoc"></div>`

in *.adoc file:
`image::images/zap-local-proxy.png[caption="local proxy config for zap"]`

Error Stack Trace:
`org.xml.sax.SAXParseException: The element type "img" must be terminated by the matching end-tag "</img>".
	at org.apache.xe

[2016-12-07 18:19] misfir3 commented on #293
Short version, we need to find if there's a way to get asciidoc to output images with closing tags so that thymeleaf is happy with the output.

[2016-12-07 22:05] misfir3 commented on #293
According to this (below), we should be able to set the backend to xhtml5 to resolve it ... will test later:

https://github.com/asciidoctor/asciidoctorj/issues/538

[2016-12-12 12:16] sreejithbk commented on #97
How to disable lesson hints

[2016-12-15 16:20] zupzup commented on #275
I can take a look - I think I know why this happens.

[2016-12-16 15:43] #293 closed

[2016-12-16 15:47] nbaars commented on #275
Fixed

[2016-12-16 15:47] #275 closed

[2016-12-16 15:47] nbaars commented on #233
Merged to develop

[2016-12-16 15:47] #233 closed

[2016-12-18 15:11] mordwin1 commented on #273
'm having the same issue as MGTHEBOSS I loaded WebGoat  7.1 onto a Linux OS running tomcat 9 and while the java files for the lessons are loaded into the plugin_lessons dir i don't seem to have a menu item on the main page after login to load them.

[2016-12-18 19:18] nbaars commented on #273
Tested Tomcat 9 and there is an issue with the classloader

[code]
Are you able to use the standalone version?

[2016-12-19 03:14] mordwin1 commented on #273
Nanne,
Thanks for the feedback I can run the standalone version, I was just trying to get the version that ran on tomcat working and the problem was troubling me. Do you know if WebGoat will run on tomcat 8 or do you have to roll back to 7 to get it to run. I suppose for now I can just use the standalone version and when the other one if fixed I can switch. One the plus side I have learned a lot a

[2016-12-19 20:12] nbaars commented on #273
There are two issues at hand:

1) Tomcat 8 and above uses a different classload which can be fixed with a change in the context.xml
2) The method signature of addJars() has changed in Tomcat 8 and above.

So even if we fix 1 (as a FAQ) we still have issue 2 which can only be fixed with a code change.
For now I've added an entry to our FAQ (https://github.com/WebGoat/WebGoat/wiki/FAQ#tomcat)

[2016-12-22 20:08] misfir3 opened #296 "Update URL between page navs"
Since we instituted the ability to nav to a given lesson's page directly ... makes sense to manifest/sync that via the url.

[2016-12-22 21:40] #296 closed

[2016-12-23 15:34] misfir3 commented on #266
@zupzup Thanks for looking into this and your thoughts (and all your contributions so far)

The intent with this (as I try to remember back)  as 'labels' was really for UI controls.  Anything that will be present in the UI (may have conditional hide/show) and have the same label whenever it is shown (e.g. hints).

I'm going to create a separate issue for lesson/content localization (in the *.html

[2016-12-23 22:29] b1rd0fb3auty14 commented on #290
Hey @misfir3 - I have scanned the code base (master and develop) and I do not see the pages listed in the current 8.0 SNAPSHOT.

I did a scan on WebGoat_Installation, WebGoat_User_and_Install_Guide_Table_of_Contents, and index.php.

Can you provide some assistance?

Thanks!

[2016-12-27 17:55] nbaars commented on #276
Navigation is also working

[2016-12-28 09:22] nbaars commented on #276
Now available as button next to 'Hints' we can easily move it to the last page if necessary.

[2016-12-28 09:22] #276 closed

[2016-12-28 09:23] nbaars commented on #292
The README.md has been updated the copy steps are no longer part of it therefore closing this issue

[2016-12-28 09:23] #292 closed

[2016-12-29 18:15] nbaars commented on #277
Working on the report card functionality

[2016-12-31 17:37] nbaars commented on #277
Report card functionality is back in, I would propose to close this issue and make a new one if we think of more admin functionality

[2016-12-31 17:37] #277 closed

[2017-01-01 10:52] h-rueda opened #300 "WebGoat-7.1.war is not being deployed correctly on tomcat 8.5"
Hello

I have the following system :
OS : Kali Linux 2016.2 rolling edition
Java : version 1.8
Tomcat : version 8.5 running on port 8080
WebGoat : webgoat-container-7.1.war

I copied the war file into the webapps folder, and then started the WebGoat application

When I sign-in with the "guest" user, I have this exception (screenshot)

![webgoat](https://cloud.githubusercontent.com/assets/16239820/

[2017-01-01 14:52] #300 closed

[2017-01-01 14:54] nbaars commented on #273
Also see #300

[2017-01-01 14:56] nbaars opened #301 "Using the hints should be incorporated in the report card"
The lesson tracker should track the usages of the hint system. First we need to implement #278

[2017-01-01 14:58] nbaars commented on #269
Implemented, closing the issue

[2017-01-01 14:58] #269 closed

[2017-01-01 20:21] nbaars commented on #69
Closing as this is no longer relevant for version 8.0

[2017-01-01 20:21] #69 closed

[2017-01-01 20:24] nbaars commented on #142
Closing as this is for version 7

[2017-01-01 20:24] #142 closed

[2017-01-05 18:06] misfir3 opened #302 "lessonmenu.mvc & lessonoverview.mvc get called twice"
On submission, these each get called twice.  need to look into the redundant call and remove the cause.

[2017-01-05 18:20] misfir3 opened #303 "Provide default form clearing on attack submissions"
Currently, form values stay filled in unless custom javascript clears them.  This ticket is to provide define and implement default behavior (and a way to turn that off ??) when an attack is submitted .

[2017-01-05 18:21] zupzup commented on #302
I can take a look at this.

[2017-01-05 21:27] misfir3 opened #304 "Create IDOR lesson"
working on this already, but creating ticket to track and link commits

[2017-01-05 22:27] misfir3 opened #305 "Provide Bean to handle user session data"
to be able to store data in the user's session for partially completed assignments, pseudo login's and other state that may be useful for evaluating assignments.

[2017-01-09 19:26] misfir3 commented on #304
@nbaars do you mind trying this lesson out and seeing if you can tell why the 400 when I do the IDOR/profile/{userId} via PUT method. I still plan to refine the lesson some, but going to work some other minor issues first and then come back to it.

[2017-01-09 20:00] #302 closed

[2017-01-10 09:01] krzysztof-balas opened #307 "can't login to webgoat"
when I try to log in with developer version there's an error:
[code]

[2017-01-10 20:26] misfir3 commented on #305
Added UserSessionData Bean for this purpose. Using it in IDOR lesson currently.

[2017-01-10 20:26] #305 closed

[2017-01-10 20:26] misfir3 commented on #303
committed, pushed ... closing

[2017-01-10 20:26] #303 closed

[2017-01-12 03:36] dcarosone opened #308 "Getting current release running is hard and obscure"
Freshly downloaded as per the instructions from https://s3.amazonaws.com/webgoat-war/webgoat-standalone-7.1-SNAPSHOT-exec.jar

sha1: `f60d1dce0563901097c42c3c7a3abaa62d2ba00e  webgoat-standalone-7.1-SNAPSHOT-exec.jar`

Will not run.  `java -jar webgoat-standalone-7.1-SNAPSHOT-exec.jar` produces a long stream of [exception traces](https://github.com/WebGoat/WebGoat/files/700630/jre-log.txt) then ex

[2017-01-12 04:30] dcarosone commented on #308
Ok, this might actually be 2 issues:

Issue 1: A doc bug / majorly unclear README with respect to "legacy versions", current development, and current release.

I saw the note about 8.x major development, and legacy versions at the top of README.md. The "legacy versions" link goes to 6.x. I wanted 7.1 which was described as the current release.  The quickstart section further down the page has a UR

[2017-01-12 17:56] misfir3 opened #309 "XSS Lesson - turn HttpOnly off"
Any votes against turning off HttpOnly flag so that we can show the document.cookie for real? Assume we would just do this in Spring config.

![image](https://cloud.githubusercontent.com/assets/5103241/21901616/6c453712-d8c6-11e6-9716-b9b1d4611cf4.png)

[2017-01-12 20:57] misfir3 commented on #307
what version is this with ... 7.1?

[2017-01-13 09:35] krzysztof-balas commented on #307
v 8.0.
I followed steps from "The Manual Way: Developer Edition!" section.

[2017-01-13 18:36] misfir3 commented on #307
So, you are doing ... ?
`cd WebGoat`
`git checkout develop`
`mvn clean package`
`mvn -pl webgoat-container spring-boot:run`
... right?

(if not, git pull and try that again)

Otherwise, can you provide anymore stackTrace and/or details about your environment?

[2017-01-15 11:54] nbaars commented on #307
Can you remove the ~/.webgoat/guest.progress file? (it is in you home directory in the .webgoat directory)

[2017-01-15 13:15] domflannery commented on #284
In the README for the develop branch, the instructions for Easy are a bit confusing. Under step 1 for setting up Docker, it then says go to step 3. There are currently two step 3's, one to run the jar and the other to go to the url. I'm assuming that if you are using a Docker container, that you wouldn't also need to manually run the jar.

[2017-01-15 15:29] nbaars commented on #307
Changed the code to generate new lesson tracker if we are unable to read the previous one. During development this might happen if we refactor some classes

@krzysztof-balas can you update and try again? And open the issue if the problem is still present? Thanks.

[2017-01-15 15:29] #307 closed

[2017-01-15 17:45] #309 closed

[2017-01-15 20:02] krzysztof-balas commented on #307
Works fine now. Thanks. :)
Cheers.

[2017-01-15 20:57] nbaars commented on #308
For development README.md: simplified the setup and removed the 7.1 mentions

[2017-01-15 21:14] nbaars commented on #308
For 7.1 fixed the webgoat pages, readme.md now points to this url for everyone looking for the latest stable release

[2017-01-17 17:22] nbaars commented on #284
Updated the README of the development branch removed duplicate information we already host on the Wiki. The README now only gives information on how to start WebGoat 8.0. No longer a mix of content.

[2017-01-17 17:22] #284 closed

[2017-01-18 19:52] nbaars commented on #304
@misfir3 Should work now, the put mapping was using @RequestParam instead of @RequestBody which needs to be used when posting JSON.

[2017-01-18 19:53] misfir3 commented on #304
Gahhhh!  Why I need to either spend more time doing Java work or be completely disbarred from doing it! ;-)  Thanks!

[2017-01-22 11:28] nbaars opened #311 "Add validation checks when loading lessons"
For example:

- Paths should be unique
- labels should be unique or point to the same (two cannot refer two different values)
- Each assignment should have unique name two plugins should not contain the same Java class

[2017-01-22 13:56] nbaars opened #312 "Enable i18n client side"
For the json part we can introduce an interceptor which will try to translate labels (you can recognize them through values which look like `a.b.c.d` and which have a match in the `WebGoatLabel.properties` file.

This way we do not have to extend all endpoints to do this explicitly.

[2017-01-22 17:37] nbaars opened #313 "Turn client side filtering in a complete lesson"
At the moment this lesson is ported directly to WebGoat 8 with the css from GoatHills financial.
We need to:

- Convert this to a complete lesson
- Change the lesson to an assignment we can drop the css from Goathills

[2017-01-22 18:24] nbaars commented on #278
Hints can now be defined for each assignment (lesson is not supported at the moment, because they should really be for each assignment, maybe we need to add this in the future).

[2017-01-22 20:02] zupzup commented on #312
The way the **LabelService** was implemented in https://github.com/WebGoat/WebGoat/pull/289, endpoints wouldn't have to be extended - the UI would fetch the whole set of relevant labels and then do the replacement on the client.

[2017-01-22 20:05] nbaars commented on #312
Great, will take a look to incorporate #289 for the hints per assignment

[2017-01-23 21:30] nbaars commented on #312
Changed title as with #289 we receive the labels client side we need to implement the translation client side.

[2017-01-23 21:54] nbaars commented on #312
For now introduced polygot.js which seems to do the job, you can use polyglot.t(....) to translate keys to text. See HintView and MenuView for examples.

[2017-01-25 05:16] nbaars commented on #312
Closing as we can now use i18n client side

[2017-01-25 05:16] #312 closed

[2017-01-25 06:21] nbaars commented on #278
Implemented, note: at the moment lesson per hints is not supported (at the moment hint per lesson should be enough we can later on add hint per lesson if necessary)

[2017-01-25 06:21] #278 closed

[2017-01-25 13:46] nbaars commented on #265
- UI is implementend see #289

We still need:
- adoc translation (so loading the correct adoc based on the language)
- html for the attacks processed by Thymeleaf

[2017-01-25 16:11] misfir3 opened #315 "decorate assignments as complete"
As a user correctly completes assignments/attacks ... provide visual indication that a user has completed that assignment/attack.  The corollary will be true as well (removing the indicator if they go back and do it incorrectly)

This includes refactoring the response to change 'lessonCompleted' to 'assignmentCompleted' (from AttackResult class)

[2017-01-25 16:52] #315 closed

[2017-01-26 10:21] ghost opened #317 "Bypass Client Side Javascript Validation"
In the last release the type of the submit button in this lesson was changed from "BUTTON" to "SUBMIT". Now, the lesson is easily passed by just changing the values in the input fields, as the client side JavaScript does not "preventDefault" or otherwise hinders the submission of the input.

[2017-01-27 20:30] misfir3 opened #318 "Add support for multiple jQuery versions"
Provide support via application framework to use multiple versions of jQuery. Then we can load/use vulnerable versions as needed.

[2017-01-27 20:34] misfir3 opened #319 "move proxy content to new http proxies lesson"
move content from http basics to http proxies

[2017-01-28 13:02] nbaars commented on #168
No longer valid for 8.0

[2017-01-28 13:02] #168 closed

[2017-01-28 13:03] nbaars commented on #266
Closing the issue as the UI is now using this endpoint for translation

[2017-01-28 13:03] #266 closed

[2017-01-29 11:03] nbaars opened #321 "Copyright header not correct"
Following issues:

- Copyright contains link to http://webgoat.github.io/ which no longer exists.
- Not all source files contain a copyright
- The location in the source file is not consistent
- Year is not correct, it contains:  **20014**
- Add a complete license file (COPYING) at the top level directory
- Authors tag contains reference to old webgoat repository, we should delete the link

Propos

[2017-01-29 20:10] nbaars commented on #265
Fixed the html part. Thymeleaf now works with i18n

[2017-02-01 12:09] SupaYoshi commented on #235
Hi, still experiencing this issue right now with WebGoat 7.1 and Tomcat8! Been looking for hours for a solution, IRC is not helpful, I've placed all the files in the directory, I keep getting this error. PLEASE HELP.

http://prntscr.com/e337af

[2017-02-07 21:30] nbaars commented on #235
@SupaYoshi indeed this combination does not work, see https://github.com/WebGoat/WebGoat/wiki/FAQ#tomcat

You can use our Docker based WebGoat-7 version, please see: https://hub.docker.com/r/webgoat/webgoat-7.1/

[2017-02-13 05:31] sierratango68 opened #327 "Error after login to webgoat multiple versions"
I am getting a java error after logging into Webgoat.

Using Windows 10 Pro
Firefox browser ver 32.0.3, 41.x.x, 51.0.1
Chrome 56.0.2924.87

Webgoat versions: WebGoat-6.0.1-war-exec, webgoat-container-7.0.1-war-exec, webgoat-container-7.1-exec
Command line: C:\>java -jar .\webgoat-6.0.1-war-exec.jar -httpPort=8081

I navigate to: http://localhost:8081/WebGoat
I get the login page and login as eithe

[2017-02-13 05:38] sierratango68 commented on #327
FYI:  using tomcat 7.0.37 (this is what is packaged with the webgoat downloads.

[2017-02-13 05:42] sierratango68 commented on #327
Ok more info on which tomcat is being used.
WebGoat-6.0.1-war-exec, = tomcat 7.0.37
webgoat-container-7.0.1-war-exec = tomcat 7.0.59
webgoat-container-7.1-exec = 7.0.59

[2017-02-13 05:44] sierratango68 commented on #327
checked https://github.com/WebGoat/WebGoat/wiki/FAQ#tomcat
does not apply as I am using versions in the 7.x.x range

[2017-03-01 17:28] mattrussell33 commented on #215
Hi All,

It is still not clear on the actions needed to set an IP rather than using localhost. Using webgoat-container-7.1-exec which runs on the embedded tomcat server, but I do not see any options to change the server address or config to do so.
Anybody able to shed some light on this?
Cheers :)

[2017-03-02 15:47] akanshgulati opened #332 "Standalone file not working in Mac Sierra OS"
The standalone file is not working and giving an error
[code]

[2017-03-02 19:37] nbaars commented on #332
Hi @akanshgulati

Can you please verify you downloaded the following version: https://github.com/WebGoat/WebGoat/releases/download/7.1/webgoat-container-7.1-exec.jar ? Looking at the stacktrace you are using a different version.
Let me know if this one also gives the error above.

Thanks,
--Nanne

[2017-03-15 16:00] prometx opened #335 "Trouble "translating" relative paths"
Hi,

I run WebGoat via the standalone jar file. I have just started working my way through the lessons and need to alter and resubmit to complete certain lessons.

For instance, in the Lesson: "Access Control Flaws -> Bypass a Path Based Access Control Scheme"

The lesson calls for inserting alterations in the URL path to try to reach a restricted file, a la:

`Try ../../../../../WEB-INF/spring-se

[2017-03-15 16:02] prometx commented on #335
This is, btw, `webgoat-container-7.1-exec.jar`

[2017-03-16 05:55] bali2016 opened #336 "How to launch all kinds attacks in one script?"
Hi All,

I'm trying to test a WAF app capabilies, and I'm using WebGoat as the backend server. I want a script that can launch all kinds attacks in the lesson to the webgoat, so we want to know is there any exisiting tools or scripts can do this?
If not, then I need to retirve all the WebGoat REST APIs that can be attacked in the lesson, so is there someone can tell me how to retrive all of those

[2017-03-16 13:34] vincentcox-work opened #337 "Exception in thread "main" java.util.zip.ZipException: error in opening zip file"
I did the following:
[code]
I get the following error.
`
Exception in thread "main" java.util.zip.ZipException: error in opening zip file
        at java.util.zip.ZipFile.open(Native Method)
        at java.util.zip.ZipFile.<init>(ZipFile.java:219)
        at java.util.zip.ZipFile.<init>(ZipFile.java:149)
        at java.util.jar.JarFile.<init>(JarFile.java:166)
        at java.util.jar.JarFile.<i

[2017-03-27 09:30] 5teven-tian opened #339 "No message found under code 'http-basics.reversed' for locale 'en_US'."
Version number is 8.0-SNAPSHOT,

Reproduce step:

1.go to link http://localhost:8080/WebGoat/start.mvc#lesson/HttpBasics.lesson/1
2.input name
3.press "Go" button, then this exception occurred.

Following is its exception log:
=============================================

org.springframework.context.NoSuchMessageException: No message found under code 'http-basics.reversed' for locale 'en_US'.
	at

[2017-03-31 10:36] nbaars commented on #339
This error has been fixed in the current development branch, also available on Docker Hub.

[2017-03-31 10:36] #339 closed

[2017-03-31 10:38] nbaars commented on #337
@vincentcox-ordina By default the executable jar creates a hidden directory to extract the zip file, can you check whether the user is allowed to create a directory within the location you start WebGoat?

[2017-03-31 10:40] nbaars commented on #337
There is a Docker Hub version of WebGoat available for WebGoat 7.1 as well (https://hub.docker.com/r/webgoat/webgoat-7.1/)

[2017-03-31 10:41] nbaars commented on #319
lesson is available, closing this one

[2017-03-31 10:41] #319 closed

[2017-03-31 10:42] nbaars commented on #304
Lesson is available, closing this one.

[2017-04-04 19:15] misfir3 opened #342 "Finish UI on lesson overview/progress"
Implement cleaner UI than the bullet points  currently there.   Likely implement a simple ..
'x/y assignments completed' along with a visual indication (bar) of progress

[2017-04-08 15:20] rafaelpaim opened #343 "Lessons in Webgoat 8.0 could not be executed: "There was an unexpected error""
Hi, everyone!

I am trying to using the Webgoat version 8.0 with Docker CE (Version 17.03.1-ce-mac5 (16048)
Channel: stable b18e2a50cc) on MacOS Sierra 10.12.4.

I did the commands described on GitHub page to install and run the WebApp.

However every time I tried to execute any lesson the message: "There was an unexpected error" appears and I can't run any lesson.

Also, every time I run the Web

[2017-04-08 16:03] nbaars commented on #343
Hi rafaelpaim,

This is due to your language settings in the browser can you switch those to English and try again? I will push a new version to Docker Hub which fixes this issue asap.

Thanks,
--Nanne

From: rafaelpaim
Sent: Saturday, April 8, 17:21
Subject: [WebGoat/WebGoat] Lessons in Webgoat 8.0 could not be executed: "There was an unexpected error" (#343)
To: WebGoat/WebGoat
Cc: Subscribed

H

[2017-04-08 18:25] tomekr opened #344 "WebGoat 7.1 Docker Challenge Stage 3"
It appears that after finishing stage 2 of the challenge the application breaks when trying to render stage 3. Here is the log output from docker:

https://gist.githubusercontent.com/tomekr/780064c917871940050bf9cf65a8961f/raw/43918828acd0b3fafb66a8f3993552c50e63a31f/webgoat_docker.log

And here is a screenshot of what is rendered after clicking the "Proceed to the next stage...(3)" button:

![scr

[2017-04-08 18:25] rafaelpaim commented on #343
@nbaars very thanks for your help.
I changed my language from Brazilian Portuguese to English now and it seems to have the web goat working!

Thanks!

[2017-04-08 18:25] #343 closed

[2017-04-15 01:24] rafaelpaim opened #345 "Lesson about Insecure Object References does not work - WebGoat 8.0"
Hi ,

After make the input of 'tom' and 'cat' as login and password, you have to check the attributes differences. However, when click on the button "Show Profile" nothing happens. The same when you try to click on "Show Hints". I tried in the followings browsers: Safari 10.1, Firefox 52.0.2; macOS sierra 10.12.4

I checked the docker terminal to see if there are some kind of debug info. It is bel

[2017-04-15 09:27] nbaars commented on #345
Hi @rafaelpaim thanks for the report, I've fixed the issue and uploaded a new version to Docker Hub. Can you pull it again? It should work now.

Thanks,
--Nanne

[2017-04-15 09:27] #345 closed

[2017-04-15 09:28] nbaars commented on #313
Fixed

[2017-04-15 09:28] #313 closed

[2017-04-15 09:29] #332 closed

[2017-04-15 15:19] rafaelpaim commented on #345
Dear, @nbaars , thanks for your help. It is working now.
Just trying to complete this lesson.

[2017-04-15 19:11] Open-Sec opened #347 "Importing WSDL from url : how to authenticate ?"
Maybe this is not an issue, but, trying to import WSDL files using the URL fails because required authentication.
In previous WebGoat version, basic authentication was used and tools like SoapUI ask for credentials, but, current stable version uses j_spring_security_login via login.mvc.
The easy solution is to save the WSDL and import the file, set the cookie JSESSIONID and so on.
Is there anyway

[2017-05-04 19:22] misfir3 commented on #318
Closing ... this has been added

[2017-05-04 19:22] #318 closed

[2017-05-04 19:25] misfir3 commented on #336
Denim Group (I think) had a plugin (burp/zap) that would enumerate APIs to help with scanning (using the source). Search "dan cornell abc source-assisted pen testing"

[2017-05-10 06:07] Dviros commented on #215
Hi, Need help as well in binding to 0.0.0.0 or specific IP.
Thanks

[2017-05-10 06:21] mattrussell33 commented on #215
Hi Dviros, A quick workaround I found is to use iptables to route traffic from your desired interface to the localhost and port.

Below is an example if you have interface ens192 configured  with IP 10.1.0.1 listening on port 8181

iptables -t nat -I PREROUTING -p tcp -d 10.1.0.1/24 --dport 8181 -j DNAT --to-destination 127.0.0.1:8080

sysctl -w net.ipv4.conf.ens192.route_localnet=1

Hope this hel

[2017-05-10 06:23] Dviros commented on #215
Hey Mat,
Thanks for your quick reply. I'm using a Windows machine :(
Any other idea?

[2017-05-10 06:29] mattrussell33 commented on #215
Hmmm, I'm don't use windows much TBH.
Deploying webgoat on a linux virtual machine using VirtualBox would be an option. A bit of a pain just to use WebGoat but will give you the flexibility to modify the IP.
Sorry I couldn't be much more help than that!

[2017-05-10 12:06] misfir3 opened #350 "Encoding (?) issue in polyglot/hints"
the hint:
xxe.hints.simple.xxe.4=Try to include a doctype (<!DOCTYPE...) in the xml
show as ...
![image](https://cloud.githubusercontent.com/assets/5103241/25897805/5803ab9a-3581-11e7-947c-4d5f652126c0.png)

Likely some encoding issue with polyglot. Look into resolution with polyglot or a replacement

[2017-05-10 12:10] misfir3 opened #351 "redundant calls to show/hide hints button"
when fixing the hints issue prior to AppSecEU, noted redundant calls with the new listenTo/trigger chain.  Need to revisit this and tighten it up.

[2017-05-10 12:26] misfir3 opened #352 "initial page load doesn't check hints hide/show status as it should"
hints button will show when it shouldn't on initial page load. this may also cause the click binding to now work when it should if navigating to a specific page.

![image](https://cloud.githubusercontent.com/assets/5103241/25898468/2b44ada4-3584-11e7-9ee2-db494bca01e2.png)

[2017-05-10 12:27] misfir3 commented on #267
taking 8.0 off of this ... will look into this as an 8.x (where x >= 1) feature

-

[2017-05-10 17:43] Zygro opened #353 "No guide on adding lessons to WebGoat 8"
I would like to contribute with remaking some lessons from the version 7 to version 8, However, I have great difficulty making a new lesson that would be displayed properly. Short guide would be much appreciated.

[2017-05-10 18:26] nbaars commented on #353
Hi @Zygro

You are correct, we are currently at the OWASP AppSEC EU Conference and working on getting a sample lesson in which you can use to create a new lesson. Hopefully we have this finished shortly.

Thanks for the feedback,
--Nanne

[2017-05-16 18:54] misfir3 commented on #353
AppSec EU was busier than anticipated for me (Summit and beyond), but hope to get this completed in the next couple weeks. Thanks @zygro for wanting to contribute!

[2017-05-18 16:38] misfir3 opened #354 "update XSS lesson for 8.0 release"
Working on this now in my fork. I think as we discussed (at AppSec EU), there should be a 'basic' and advanced lesson on this.

[2017-05-18 16:39] misfir3 commented on #354
@nbaars  - borrowing heavily from your XXE challenge to work on the stored XSS part of this. May want to refactor the Comment class to be used in a common space (I just made a copy for now. It won't clash since we have the challenge commented off)

[2017-05-18 16:40] misfir3 commented on #354
Once I get a minor css wrangled, I'll issue a PR for this.

[2017-06-02 12:20] jl2035 commented on #183
@span but the issue is out of the box. Only the first hint shows, others not.

I cannot complete "Edit Other Profiile" lesson without hints. There's not enough info on what is expected in request body. I've just spent 6 hours on the first 3 lessons.. what a waste of time. :(

[2017-06-02 12:24] misfir3 commented on #183
@jl2035 you're right ... the hints have not been completed on that lesson. Something we need to add. Reopening as the lesson isn't truly complete.

[2017-06-02 12:26] misfir3 commented on #304
Need to complete hints on this lesson (cc @jl2035). Reopening

[2017-06-02 12:27] misfir3 commented on #183
actually re-opening wrong ticket here, will update IDOR lesson ticket (#304)

[2017-06-02 12:27] #183 closed

[2017-06-02 12:34] jl2035 commented on #183
@span but the issue is out of the box. Only the first hint shows, others not.

I cannot complete "Edit Other Profiile" lesson without hints. There's not enough info on what is expected in request body. I've just spent 6 hours on the first 3 lessons.. what a waste of time :(

[2017-06-02 15:26] jl2035 commented on #183
can you point me to the relevant piece of code, so i can see what the hints are? maybe that could help me to finish this lesson..

[2017-06-09 19:48] misfir3 commented on #183
IDOREditOtherProfiile.java in ...
 {WEBGOAT_ROOT}/webgoat-lessons/idor/src/main/java/org/owasp/webgoat/plugin/IDOREditOtherProfiile.java
... it's more of a simulated vuln. than an actual one.

Sorry for the delay in getting back to you. Day-job and life have kept me rather busy lately

[2017-06-12 21:45] gpsymantec opened #356 "mvn dependency:tree fails"
[INFO] ------------------------------------------------------------------------
[INFO] Building webgoat-plugins-parent 8.0-SNAPSHOT
[INFO] ------------------------------------------------------------------------
[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary:
[INFO]
[INFO] WebGoat Parent Pom ................................. SUCCESS [  0.630

[2017-06-13 08:21] nbaars opened #357 "XSS (need some work)"

[2017-06-13 08:22] #357 closed

[2017-06-13 08:23] nbaars commented on #350
Fixed

[2017-06-13 08:23] #350 closed

[2017-06-13 08:25] nbaars opened #358 "SQL Injection (Split advanced and basic)"
The complete lesson now contains 17 pages this is a bit too much. We need to think of a way to split it into multiple sections